<h1 mat-dialog-title class="modal-title">
  {{'labels.listchantier' | translate}}
</h1>

<mat-dialog-content>
  <div class="card-body table-responsive">
    <table class="table table-hover">
      <thead class="text-purple">
        <tr>
          <th class="text-purple">N°</th>
          <th class="text-purple" style=" text-align: left ;">{{'labels.nom' | translate}}</th>

        </tr>
      </thead>
      <ng-container *ngFor="let chantier of chantiers ;let i = index">
        <tbody>
          <tr>
            <td>{{i+1}}</td>
            <td style=" text-align: left ;">{{chantier?.name}}</td>

          </tr>
        </tbody>
      </ng-container>

    </table>
  </div>

</mat-dialog-content>

<div class="footer">
  <button mat-raised-button mat-dialog-close class="btn grey btn-light float-right" (click)=" fermer()">Fermer</button>
</div>