<div class="cust-card">
  <form>
    <div class="cust-card__head">
      <div class="left">
        <div class="title">
          {{ 'LABELS.changeThePassword' | translate }}
        </div>
      </div>
      <div class="right">
        <div class="cust-button cust-button--success"
          [ngClass]="{ 'cust-button--disabled': !changePasswordForm.touched || !changePasswordForm.valid }">
          <span>{{ 'LABELS.edit' | translate }}</span>
          <input type="submit"
            id="add-confirmPassword-password-btn"
            style="display: none;"
            [disabled]="!changePasswordForm.touched || !changePasswordForm.valid"
            (click)="confirmPassword.value = null;password.value = null" />
        </div>

        <label>
          <div class="cust-button cust-button--secondary">
            <span>{{ 'LABELS.close' | translate }}</span>
          </div>
          <input type="reset"
            id="add-rest-password-btn"
            style="display: none;"
            (click)="rest()">
        </label>
      </div>
    </div>
    <div class="cust-card__body">

      <!-- Password -->
      <div class="row">
        <div class="col">
          <div class="cust-input-group">
            <div class="cust-label">{{ 'LABELS.password' | translate }} :</div>
            <div class="cust-input">
              <label class="cust-input__wrapper">
                <show-hide-password icon="fa fa eye"
                  btnStyle="primary"
                  [btnOutline]="false">
                  <input #password
                    id="add-password-password-btn"
                    class="cust-input__input"
                    type="password"
                    formControlName="password"
                    [placeholder]="'LABELS.password' | translate">
                </show-hide-password>
              </label>
            </div>
          </div>

          <div *ngIf="changePasswordForm.touched && changePasswordForm.invalid">
            <div class="alert alert-danger"
              *ngIf="changePasswordForm.hasError('required', 'password')">
              {{'errors.required'|translate}}
            </div>
            <div class="alert alert-danger"
              *ngIf="changePasswordForm.hasError('minlength', 'password')">
              {{'errors.minLength'|translate:{ number:5} }}
            </div>
          </div>
        </div>
      </div>

      <!-- Confirm Password -->
      <div class="row mt-2">
        <div class="col">
          <div class="cust-input-group">
            <div class="cust-label">{{ 'LABELS.confirmPassword' | translate }} :</div>
            <div class="cust-input">
              <label class="cust-input__wrapper">
                <show-hide-password icon="fa fa eye"
                  btnStyle="primary"
                  [btnOutline]="false">
                  <input #confirmPassword
                    id="add-confirmPassword-password-btn"
                    class="cust-input__input"
                    type="password"
                    formControlName="confirmPassword"
                    [placeholder]="'LABELS.confirmPassword' | translate">
                </show-hide-password>
              </label>
            </div>
          </div>

          <div *ngIf="changePasswordForm.touched && changePasswordForm.invalid">
            <div class="alert alert-danger"
              *ngIf="changePasswordForm.hasError('notSame')">
              {{'errors.passwordsDoNotMatch'|translate}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
