@mixin scrollbar {
  &::-webkit-scrollbar {
    background-color: #f0f0f0;
    border-radius: 8px;

    height: 8px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    cursor: grab;

    background-color: #8898aa;
    border-radius: 8px;
  }

  &.scroll-on-hover {
    &::-webkit-scrollbar {
      display: none;
    }

    &:hover {
      &::-webkit-scrollbar {
        display: block;
      }
    }
  }
}
