@import "./../../../../assets/scss/core/mixins/scrollbar";

// .nav.nav-tabs .nav-item {
//   background-color: white !important;
//   color: #41b1e6 !important;
//   border-color: #f5f7fa !important;
// }

// .nav.nav-tabs .nav-item .nav-link.active {
//   color: white !important;
//   width: 300px !important;
//   background-color: #84cbab !important;
//   border-radius: 0.25rem 0.25rem 0 0 !important;
//   border-color: lightsteelblue !important;
// }

// .nav.nav-tabs .nav-item .nav-link {
//   background-color: white !important;
//   width: 300px !important;
//   background-color: #84cbab !important;
//   padding: 0.5rem 0.7rem;
//   display: inline-flex !important;
//   border-radius: 0.25rem 0.25rem 0 0 !important;
//   border-color: #626e82 !important;
// }

// nav-link {
//   color: #84cbab !important;
// }

//   .bg-primary {
//     background-color: #1B9DB3  !important;
//     color: white !important;
// }

// .card-title {
//   color: #fff !important;
// }

// .btn-lg {
//   padding: 1rem 1.25rem !important;
//   font-size: 1.25rem !important;
//   line-height: 0.75 !important;
//   border-radius: 0.27rem !important;
//   font-size: 15px !important;
// }

//new code
.mat-expansion-panel-header-title {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
  font-family: qanelas;
  font-size: 19px;
  font-weight: bold;
  color: #494948;
  letter-spacing: 0px;
  border-bottom: 1px solid #f7fafc;
}

.nested-table {
  > td {
    padding: 0 !important;

    table {
      width: 100%;

      .dot-wrapper {
        display: flex;
        align-items: center;

        .dot {
          display: block;

          background-color: #8b8b8b;
          border-radius: 50%;

          margin-left: 4px;
          margin-right: 8px;

          height: 7px;
          min-width: 7px;
        }
      }
    }
  }
}

.prest-table {
  width: 100%;

  .cell-right {
    text-align: right;
  }

  .cell-black {
    span {
      color: #303030;
    }
  }

  .cell-green {
    span {
      color: #38b475;
    }
  }

  .cell-auto {
    //  width: 100% !important;
    white-space: pre-wrap !important;
  }

  .cell-no-padding {
    padding-left: 0 !important;
  }

  .actions {
    display: flex;
    justify-content: flex-end;

    width: auto !important;

    & > div {
      cursor: pointer;
      opacity: 0.8;

      transition-duration: 0.2s;
      transition-property: opacity;

      &:hover {
        opacity: 1;
      }

      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }

  thead {
    tr {
      background-color: #f1f3f9;

      th {
        padding: 12px 20px;

        width: 1%;
        white-space: nowrap;

        span {
          color: #6f7e84;
          font-weight: 100;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        width: 1%;
        white-space: nowrap;

        color: #6f7e84;
        font-family: Qanelas;
        font-size: 13px;

        padding: 12px 20px;

        input {
          background-color: #f7fafc;
          color: #949fa5;

          border: none;
          border-radius: 5px;

          padding: 8px;

          &:not(:last-of-type) {
            margin-right: 10px;
          }

          &:focus {
            outline-color: #a0a0a0;
          }

          &.input--small {
            max-width: 100px;
          }
        }

        &:first-of-type img {
          cursor: pointer;
          display: block;

          margin: auto;
        }
      }

      &:nth-of-type(even) {
        background-color: #f7fafc;

        input {
          background-color: white !important;
        }
      }
    }
  }
}

.modal {
  background-color: #0000007a;

  .modal-dialog {
    max-width: 550px !important;
  }

  .modal-content {
    border: none;
  }

  .cust-card {
    &__head {
      .right {
        display: flex;
        align-items: center;
        justify-content: center;

        label {
          margin-bottom: 0;
          margin-right: 10px;
        }
      }
    }
  }
}
