label {
  line-height: 35px;
}

.modal-dialog {
  margin: 0 !important;
  padding: 0 !important;
}

mat-form-field {
  width: 100%;
}

button {
  margin-left: 3px;
}

mat-dialog-content.mat-dialog-content {
  width: 100%;
  margin: 0;
}

h1.modal-title.mat-dialog-title {
  color: white;
  background: #1b9db3;
  text-align: center !important;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border-top-left-radius: 0.27rem;
  border-top-right-radius: 0.27rem;
}
mat-dialog-content.mat-dialog-content {
  padding: 0;
}

label.custom-control-label {
  margin-top: -8px;
}

.msgEmtyListSelectedVide {
  text-align: center;
  padding-top: 14px;
}

mat-dialog-content.mat-dialog-content {
  padding: 0;
  padding-left: 10px;
}

// label {
//   line-height: 35px;
// }

.modal-dialog {
  margin: 0 !important;
  padding: 0 !important;
}

mat-form-field {
  width: 100%;
}

button {
  margin-left: 3px;
}

mat-dialog-content.mat-dialog-content {
  width: 100%;
  margin: 0;
}

h1.modal-title.mat-dialog-title {
  color: white;
  background: #1b9db3;
  text-align: center !important;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border-top-left-radius: 0.27rem;
  border-top-right-radius: 0.27rem;
}
mat-dialog-content.mat-dialog-content {
  padding: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #98a4b8;
  color: white;
  background: #ffffff;
  margin: 0 !important;
  //  padding: 0.3rem 0.5rem !important;
}

.row {
  width: 100%;
  padding: 0px 0px 0px 0px;
  height: 350px;
  padding-left: 44px;
}

.col-5 {
  border-left: 1px solid #babfc7;
}

label.custom-control-label {
  margin-top: -8px;
}

.msgEmtyListSelectedVide {
  text-align: center;
  padding-top: 14px;
}
.table th,
.table td {
  border-bottom: 0.75px solid #e6e5e5 !important;
  border-top: 0px solid #e6e5e5 !important;
}
.table tbody + tbody {
  border: none !important;
}

mat-dialog-content.mat-dialog-content {
  height: 74%;
}

.btn-light {
  color: #2a2e30;
  background-color: #babfc7;
  border-color: #babfc7;
}

.mat-dialog-actions {
  padding-right: 17px;
  border-top: 0.75px solid #1b9db3;
}
