<h1 mat-dialog-title class="modal-title">
  {{'showvisite.title' | translate}}
</h1>
<mat-dialog-content>
  <ng-container *ngIf="data!=null">
    <app-show-visite [idContratVisite]="data.idContratVisite" [year]="data.year" [month]="data.month"></app-show-visite>

  </ng-container>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close class="btn grey btn-light float-right" (click)="closeMe()">
    Fermer</button>
</mat-dialog-actions>