<section id="multi-column">
  <div class="agenda">
    <div class="agenda__head">
      <div class="left">
        <!-- Techniciens -->
        <div class="cust-input-group cust-input-group--techniciens">
          <div class="cust-input cust-input--select">
            <label class="cust-input__wrapper">
              <mat-select disableRipple
                class="cust-input__input"
                [multiple]="true"
                [placeholder]="'labels.technicien' | translate"
                [(ngModel)]="technicienId">
                <!-- <mat-option (click)="onTechnicienAll()"
                  class="option-reset"
                  [value]="null">
                  <div class="option-reset__wrapper">
                    <span>Tout sélectionner</span>
                    <mat-icon (click)="onTechnicienReset($event)">replay</mat-icon>
                  </div>
                </mat-option> -->
                <mat-option #allSelected (click)="toggleAllSelection()" [value]="0">Tout sélectionner</mat-option>
                <mat-option *ngFor="let technicien of filterlistTechnicien; let i = index"
                  [disabled]="technicien.disabled" (click)="tosslePerOne(allSelected.viewValue)"
                  [value]="technicien.id">{{ technicien?.name }}</mat-option>
              </mat-select>
            </label>
          </div>
        </div>

        <!-- Type -->
        <div class="cust-input-group cust-input-group--types">
          <div class="cust-input cust-input--select">
            <label class="cust-input__wrapper">
              <div class="cust-input__icon">
                <img alt="Filter icon"
                  src="./assets/app/images/Icons/filter.svg">
              </div>
              <mat-select class="cust-input__input"
                placeholder="Filtrer par type"
                [panelClass]="'agendaFilters'"
                [multiple]="true"
                [(ngModel)]="ficheType"
                (ngModelChange)="refreshAgenda()">
                <mat-option class="rappels"
                  [value]="agendaTypeFilter.Rappels">Appel</mat-option>
                <mat-option class="taches"
                  [value]="agendaTypeFilter.Taches">Tâches</mat-option>
                <mat-option class="evenements"
                  [value]="agendaTypeFilter.Evenements">Rendez-vous</mat-option>
                <mat-option class="interventionsMaintenance"
                  [value]="agendaTypeFilter.InterventionsMaintenance">
                  Interventions maintenance</mat-option>
                <mat-option class="interventionsChantier"
                  [value]="agendaTypeFilter.InterventionsChantier">Interventions
                  chantier</mat-option>
              </mat-select>
            </label>
          </div>
        </div>
      </div>

      <div class="center">
        <div class="agenda__controls">
          <span class="left">
            <img alt="Chevron icon"
              src="./assets/app/images/Icons/chevron-down.svg"
              (click)="onAgendaPrevious()">
          </span>
          <mat-datepicker #picker></mat-datepicker>
          <input matInput
            class="hide-button"
            [value]="scheduleObj?.selectedDate"
            [matDatepicker]="picker"
            (dateChange)="onAgendaDate($event)">
          <span class="label"
            startView="multi-year"
            (click)="picker.open($event)">{{ getViewDate() | date:getDateFormat() }}</span>
          <span class="right">
            <img alt="Chevron icon"
              src="./assets/app/images/Icons/chevron-down.svg"
              (click)="onAgendaNext()">
          </span>
        </div>
      </div>

      <div class="right">

        <!-- Date indicator -->
        <div class="cust-input-group cust-input-group--date"
          (click)="onAgendaToday()">
          <div class="cust-input">
            <label class="cust-input__wrapper">
              <span
                class="cust-input__input cust-input__input--number">{{ getCurrentDate() | date:'dd/MM/yyyy' }}</span>
            </label>
          </div>
        </div>

        <!-- Display -->
        <div class="cust-input-group cust-input-group--display">
          <div class="cust-input cust-input--select">
            <label class="cust-input__wrapper">
              <mat-select class="cust-input__input"
                placeholder="Affichage"
                [value]="0"
                (valueChange)="onDisplayChanged($event)">
                <mat-option [value]="0">Affichage par mois</mat-option>
                <mat-option [value]="1">Affichage par journée</mat-option>
                <mat-option [value]="2">Affichage par semaine</mat-option>
              </mat-select>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="agenda__body">

      <ejs-schedule #scheduleObj
        cssClass="schedule-drag-drop"
        [height]="'100%'"
        [currentView]="currentView"
        [selectedDate]="selectedDate"
        [workDays]='workWeekDays'
        [eventSettings]="eventSettings"
        [firstDayOfWeek]="starDaysOftWeek"
        (actionBegin)="onActionBegin($event)"
        (popupOpen)='onPopupOpen($event)'
        (eventClick)="onEventClick($event)"
        (cellClick)="onCellClick($event)"
        (cellDoubleClick)="oncellDoubleClick($event)"
        (eventRendered)="applyCategoryColor($event)">
        <!--
        <e-resources>
          <e-resource field="ConsultantID" title="Consultant" name="Consultants" [dataSource]="listeTechniciens"
            [allowMultiple]="allowMultiple" textField="Text" idField="Id" groupIDField="GroupId" colorField="Color">
          </e-resource>
        </e-resources> -->

        <ng-template #eventSettingsTemplate
          let-data>
          <div class="cust-appointment"
            [ngClass]="[data.customClass]">
            <div class="subject">{{ data.Subject }}</div>
          </div>
        </ng-template>

        <ng-template #quickInfoTemplatesHeader
          let-data>
          <div *ngIf="(data.elementType == 'cell' || data.elementType == 'event')"
            [ngClass]="[data.customClass]">
            <div class="e-popup-header"
              [ngStyle]="{'background-color': data.CategoryColor }">
              <div class="e-header-icon-wrapper"
                style="padding-top: 10px;">

                <button class="e-close  e-icons"
                  (click)="navigateToDetailFicheIntervention(data)">
                  <span class="details-ficheintervention"
                    placement="bottom"> <i class="ft-eye"></i></span>
                </button>
                <button *ngIf="ifupdate(data.customClass)"
                  class="e-close  e-icons"
                  (click)="update(data)">
                  <span class="details-ficheintervention"
                    placement="bottom"> <i class="ft-edit"></i></span>
                </button>
                <button *ngIf="ifupdate(data.customClass)"
                  class="e-close  e-icons"
                  (click)="DeleteMission(data)">
                  <span class="details-ficheintervention"
                    placement="bottom"> <i class="ft-trash"></i></span>
                </button>
                <button class="e-close e-close-icon e-icons"
                  (click)="onCloseClick($event)"
                  style="margin-left: 20px;"
                  placement="bottom"></button>
              </div>
              <div *ngIf="data.elementType == 'event'"
                class="e-subject-wrap"
                style="color: #FFF;
                font-size: initial;">{{data?.Subject}}</div>

            </div>
          </div>
        </ng-template>

        <e-views>
          <e-view option="Day"></e-view>
          <e-view option="Week"
            [showWeekend]="showWeekend"></e-view>
          <e-view option="Month"
            [showWeekend]="showWeekend"></e-view>
        </e-views>
      </ejs-schedule>
    </div>

    <div class="agenda__footer">
      <div class="legends">
        <div class="label label--rappels">Rappels</div>
        <div class="label label--taches">Tâches</div>
        <div class="label label--evenements">Événements</div>
        <div class="label label--interventionsMaintenance">Interventions maintenance</div>
        <div class="label label--interventionsChantier">Interventions chantier</div>
      </div>
    </div>
  </div>
</section>


<custom-loader [displayLoader]="processing"></custom-loader>
