<div class="row">
	<div class="col main-col" [ngClass]="{ 'collapsed-col': !actionsOpened }">
		<div class="row">
			<div class="root col">
				<div class="details">
					<div class="cust-card cust-card--padding">
						<div class="cust-card__head">
							<div class="left">
								<div class="title"> {{ document?.reference}}
								</div>
							</div>
							<div>
								<mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabs($event)">

									<!-- Information -->
									<mat-tab data-name="information" [label]="'LABELS.INFORMATIONS' | translate" (click)="modifier()">

									</mat-tab>

									<!-- facturre situation  -->
									<mat-tab data-name="facture-situation" *ngIf="docType === apiUrl.Devis"
										[label]="'LABELS.FACTURATION' | translate">
									</mat-tab>

									<!-- paiment facture  -->
									<mat-tab data-name="pay-facture" [label]="'LABELS.PAIEMENTS' | translate" *ngIf="isPaiemnet()">

									</mat-tab>

									<!-- paiment facture  -->
									<mat-tab data-name="pay-depense" [label]="'LABELS.PAIEMENTS' | translate" *ngIf="isPaiemnetDepense()">

									</mat-tab>
									<!-- note -->
									<mat-tab data-name="note" [label]="'LABELS.NOTES' | translate">

									</mat-tab>

									<!-- email -->
									<mat-tab data-name="email" *ngIf="docType !== apiUrl.BonCommandeF && docType !== apiUrl.Depense"
										[label]="'LABELS.EMAILS' | translate">

									</mat-tab>


									<!-- History -->
									<mat-tab data-name="historique" [label]="'LABELS.HISTORIQUE' | translate">

									</mat-tab>

								</mat-tab-group>
							</div>
							<!-- Right controls -->
							<div class="right flexcontrols menu-points-beta">
								<div id="modifier" class="cust-button cust-button--success" *ngIf="canUpdateDoc" (click)="modifier()">
									<span>Modifier</span>
								</div>
							</div>
						</div>
						<div class="cust-card__body" *ngIf="selectedTabs !== 'information'">

							<div *ngIf="selectedTabs === 'facture-situation'">
								<app-facture-situtaion [devis]="document"></app-facture-situtaion>
							</div>
							<div *ngIf="selectedTabs === 'pay-facture'">
								<paiment-details [document]="document" (refresh)="getDocument()"></paiment-details>
							</div>


							<div *ngIf="selectedTabs === 'pay-depense'">
								<paiment-details [document]="document" (refresh)="getDocument()"></paiment-details>

							</div>

							<div *ngIf="selectedTabs === 'note'">

								<common-memos [memos]="memos" (valueChange)="saveMemo($event)" (download)="downloadPieceJointe($event)"
									[processIsStarting]="processing">
								</common-memos>
							</div>
							<div *ngIf="selectedTabs === 'email'">
								<historique-emails [emails]="emails"></historique-emails>
							</div>
							<div *ngIf="selectedTabs === 'historique'">
								<common-historiques [historique]="historique"></common-historiques>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div *ngIf="selectedTabs === 'information'" class="col">
				<app-fiche-document [data]="document"></app-fiche-document>
			</div>
		</div>

	</div>
	<div class="col side-col">
		<app-actions [actions]="items" [document]="document" (toggeled)="onToggle($event)"></app-actions>
	</div>

	<custom-loader [displayLoader]="processing"></custom-loader>