<div class="root">

  <div class="hours">
    <div class="top">
      <img src="./assets/app/images/Icons/chevron-down.svg"
        alt="Up icon"
        (click)="onHourIncrement()">
    </div>
    <div class="value">
      <span contenteditable
        (blur)="onHoursBlur($event)">{{ hours }}</span>
    </div>
    <div class="bottom">
      <img src="./assets/app/images/Icons/chevron-down.svg"
        alt="Down icon"
        (click)="onHoursDecrement()">
    </div>
  </div>

  <div class="divider">:</div>

  <div class="minutes">
    <div class="top">
      <img src="./assets/app/images/Icons/chevron-down.svg"
        alt="Up icon"
        (click)="onMinutesIncrement()">
    </div>
    <div class="value">
      <span contenteditable
        (blur)="onMinutesBlur($event)">{{ minutes }}</span>
    </div>
    <div class="bottom">
      <img src="./assets/app/images/Icons/chevron-down.svg"
        alt="Down icon"
        (click)="onMinutesDecrement()">
    </div>
  </div>
</div>
