<div>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel35"> {{'labels.addavoir' | translate}}</h3>
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <fieldset class="form-group floating-label-form-group">
            <label for="title1">{{'commun.Comment' | translate}}</label>
            <textarea class="form-control" [(ngModel)]="commentaire" name="commentaire" id="title1" rows="3"
              placeholder="saisir ici un commentaire"></textarea>
          </fieldset>
          <div class="dropzone" (dropped)="startUpload($event.target.files)">

            <h3>{{'commun.PieceJoint' | translate}}</h3>
            <div class="file">
              <label class="file-label text-center">
                <label for="fileavoir" class="btn btn-light"> {{ 'commun.chooseFile' | translate }}
                </label>
                <input class="file-input" type="file" (change)="startUpload($event.target.files)" id="fileavoir"
                  [(ngModel)]="files" name="files" style="visibility:hidden;">
                <!-- <input type="file" id="bannedList" (change)="onFileChange($event);" #fileInput> -->
              </label>
            </div>
          </div>
          <div class="upload-table">
            <table class="table">
              <thead>
                <tr>
                  <th>{{ 'commun.name' | translate }}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="upload-name-style">
                <tr *ngFor="let item of memo?.attachments; let i=index">
                  <td>{{ item.fileName }}</td>
                  <td>
                    <i (click)="deleteFile(i)" style="color: red;font-size: 14px" class="ft-trash-2"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <input type="reset" class="btn grey btn-light" (click)="close()" [value]="'commun.close' | translate" id="close"
            placement="top" ngbTooltip="{{'commun.close' | translate}}">
          <input type="submit" (click)="saveDocAvoir()" class="btn btn-success btn-lg"  id="valider"
            [value]="'commun.Add' | translate" placement="top" ngbTooltip="{{'commun.Add' | translate}}">
        </div>
      </form>
    </div>
  </div>
</div>