.loader-white div {
  background-color: #ffffff !important;
}

.loader-white.ball-clip-rotate div {
  border-color: #ffffff !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}

.loader-white.ball-clip-rotate-pulse div:first-child {
  background: #ffffff !important;
}

.loader-white.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #ffffff transparent #ffffff transparent !important;
}

.loader-white.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #ffffff transparent #ffffff !important;
}

.loader-white.ball-rotate div:before,
.loader-white.ball-rotate div:after {
  background-color: #ffffff !important;
}

.loader-white.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #ffffff !important;
}

.loader-white.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #ffffff !important;
}

.loader-white.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #ffffff !important;
}

.loader-white.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #ffffff !important;
}

.loader-white.semi-circle-spin div {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(70%, transparent),
    color-stop(30%, #ffffff),
    to(#ffffff)
  );
  background-image: -webkit-linear-gradient(transparent 0%, transparent 70%, #ffffff 30%, #ffffff 100%);
  background-image: -moz-linear-gradient(transparent 0%, transparent 70%, #ffffff 30%, #ffffff 100%);
  background-image: -o-linear-gradient(transparent 0%, transparent 70%, #ffffff 30%, #ffffff 100%);
  background-image: linear-gradient(transparent 0%, transparent 70%, #ffffff 30%, #ffffff 100%);
  background-color: transparent !important;
}

.loader-white.fading-circle div {
  background-color: transparent !important;
}
.loader-white.fading-circle div:before {
  background-color: #ffffff !important;
}

.loader-white.folding-cube div {
  background-color: transparent !important;
}
.loader-white.folding-cube div:before {
  background-color: #ffffff !important;
}

.loader-black div {
  background-color: #000000 !important;
}

.loader-black.ball-clip-rotate div {
  border-color: #000000 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}

.loader-black.ball-clip-rotate-pulse div:first-child {
  background: #000000 !important;
}

.loader-black.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #000000 transparent #000000 transparent !important;
}

.loader-black.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #000000 transparent #000000 !important;
}

.loader-black.ball-rotate div:before,
.loader-black.ball-rotate div:after {
  background-color: #000000 !important;
}

.loader-black.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #000000 !important;
}

.loader-black.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #000000 !important;
}

.loader-black.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #000000 !important;
}

.loader-black.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #000000 !important;
}

.loader-black.semi-circle-spin div {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(70%, transparent),
    color-stop(30%, #000000),
    to(#000000)
  );
  background-image: -webkit-linear-gradient(transparent 0%, transparent 70%, #000000 30%, #000000 100%);
  background-image: -moz-linear-gradient(transparent 0%, transparent 70%, #000000 30%, #000000 100%);
  background-image: -o-linear-gradient(transparent 0%, transparent 70%, #000000 30%, #000000 100%);
  background-image: linear-gradient(transparent 0%, transparent 70%, #000000 30%, #000000 100%);
  background-color: transparent !important;
}

.loader-black.fading-circle div {
  background-color: transparent !important;
}
.loader-black.fading-circle div:before {
  background-color: #000000 !important;
}

.loader-black.folding-cube div {
  background-color: transparent !important;
}
.loader-black.folding-cube div:before {
  background-color: #000000 !important;
}

.loader-primary div {
  background-color: #1b9db3 !important;
}

.loader-primary.ball-clip-rotate div {
  border-color: #1b9db3 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}

.loader-primary.ball-clip-rotate-pulse div:first-child {
  background: #1b9db3 !important;
}

.loader-primary.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #1b9db3 transparent #1b9db3 transparent !important;
}

.loader-primary.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #1b9db3 transparent #1b9db3 !important;
}

.loader-primary.ball-rotate div:before,
.loader-primary.ball-rotate div:after {
  background-color: #1b9db3 !important;
}

.loader-primary.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #1b9db3 !important;
}

.loader-primary.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #1b9db3 !important;
}

.loader-primary.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #1b9db3 !important;
}

.loader-primary.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #1b9db3 !important;
}

.loader-primary.semi-circle-spin div {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(70%, transparent),
    color-stop(30%, #1b9db3),
    to(#1b9db3)
  );
  background-image: -webkit-linear-gradient(transparent 0%, transparent 70%, #1b9db3 30%, #1b9db3 100%);
  background-image: -moz-linear-gradient(transparent 0%, transparent 70%, #1b9db3 30%, #1b9db3 100%);
  background-image: -o-linear-gradient(transparent 0%, transparent 70%, #1b9db3 30%, #1b9db3 100%);
  background-image: linear-gradient(transparent 0%, transparent 70%, #1b9db3 30%, #1b9db3 100%);
  background-color: transparent !important;
}

.loader-primary.fading-circle div {
  background-color: transparent !important;
}
.loader-primary.fading-circle div:before {
  background-color: #1b9db3 !important;
}

.loader-primary.folding-cube div {
  background-color: transparent !important;
}
.loader-primary.folding-cube div:before {
  background-color: #1b9db3 !important;
}

.loader-success div {
  background-color: #16d39a !important;
}

.loader-success.ball-clip-rotate div {
  border-color: #16d39a !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}

.loader-success.ball-clip-rotate-pulse div:first-child {
  background: #16d39a !important;
}

.loader-success.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #16d39a transparent #16d39a transparent !important;
}

.loader-success.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #16d39a transparent #16d39a !important;
}

.loader-success.ball-rotate div:before,
.loader-success.ball-rotate div:after {
  background-color: #16d39a !important;
}

.loader-success.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #16d39a !important;
}

.loader-success.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #16d39a !important;
}

.loader-success.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #16d39a !important;
}

.loader-success.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #16d39a !important;
}

.loader-success.semi-circle-spin div {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(70%, transparent),
    color-stop(30%, #16d39a),
    to(#16d39a)
  );
  background-image: -webkit-linear-gradient(transparent 0%, transparent 70%, #16d39a 30%, #16d39a 100%);
  background-image: -moz-linear-gradient(transparent 0%, transparent 70%, #16d39a 30%, #16d39a 100%);
  background-image: -o-linear-gradient(transparent 0%, transparent 70%, #16d39a 30%, #16d39a 100%);
  background-image: linear-gradient(transparent 0%, transparent 70%, #16d39a 30%, #16d39a 100%);
  background-color: transparent !important;
}

.loader-success.fading-circle div {
  background-color: transparent !important;
}
.loader-success.fading-circle div:before {
  background-color: #16d39a !important;
}

.loader-success.folding-cube div {
  background-color: transparent !important;
}
.loader-success.folding-cube div:before {
  background-color: #16d39a !important;
}

.loader-info div {
  background-color: #2dcee3 !important;
}

.loader-info.ball-clip-rotate div {
  border-color: #2dcee3 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}

.loader-info.ball-clip-rotate-pulse div:first-child {
  background: #2dcee3 !important;
}

.loader-info.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #2dcee3 transparent #2dcee3 transparent !important;
}

.loader-info.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #2dcee3 transparent #2dcee3 !important;
}

.loader-info.ball-rotate div:before,
.loader-info.ball-rotate div:after {
  background-color: #2dcee3 !important;
}

.loader-info.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #2dcee3 !important;
}

.loader-info.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #2dcee3 !important;
}

.loader-info.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #2dcee3 !important;
}

.loader-info.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #2dcee3 !important;
}

.loader-info.semi-circle-spin div {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(70%, transparent),
    color-stop(30%, #2dcee3),
    to(#2dcee3)
  );
  background-image: -webkit-linear-gradient(transparent 0%, transparent 70%, #2dcee3 30%, #2dcee3 100%);
  background-image: -moz-linear-gradient(transparent 0%, transparent 70%, #2dcee3 30%, #2dcee3 100%);
  background-image: -o-linear-gradient(transparent 0%, transparent 70%, #2dcee3 30%, #2dcee3 100%);
  background-image: linear-gradient(transparent 0%, transparent 70%, #2dcee3 30%, #2dcee3 100%);
  background-color: transparent !important;
}

.loader-info.fading-circle div {
  background-color: transparent !important;
}
.loader-info.fading-circle div:before {
  background-color: #2dcee3 !important;
}

.loader-info.folding-cube div {
  background-color: transparent !important;
}
.loader-info.folding-cube div:before {
  background-color: #2dcee3 !important;
}

.loader-warning div {
  background-color: #ffa87d !important;
}

.loader-warning.ball-clip-rotate div {
  border-color: #ffa87d !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}

.loader-warning.ball-clip-rotate-pulse div:first-child {
  background: #ffa87d !important;
}

.loader-warning.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #ffa87d transparent #ffa87d transparent !important;
}

.loader-warning.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #ffa87d transparent #ffa87d !important;
}

.loader-warning.ball-rotate div:before,
.loader-warning.ball-rotate div:after {
  background-color: #ffa87d !important;
}

.loader-warning.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #ffa87d !important;
}

.loader-warning.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #ffa87d !important;
}

.loader-warning.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #ffa87d !important;
}

.loader-warning.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #ffa87d !important;
}

.loader-warning.semi-circle-spin div {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(70%, transparent),
    color-stop(30%, #ffa87d),
    to(#ffa87d)
  );
  background-image: -webkit-linear-gradient(transparent 0%, transparent 70%, #ffa87d 30%, #ffa87d 100%);
  background-image: -moz-linear-gradient(transparent 0%, transparent 70%, #ffa87d 30%, #ffa87d 100%);
  background-image: -o-linear-gradient(transparent 0%, transparent 70%, #ffa87d 30%, #ffa87d 100%);
  background-image: linear-gradient(transparent 0%, transparent 70%, #ffa87d 30%, #ffa87d 100%);
  background-color: transparent !important;
}

.loader-warning.fading-circle div {
  background-color: transparent !important;
}
.loader-warning.fading-circle div:before {
  background-color: #ffa87d !important;
}

.loader-warning.folding-cube div {
  background-color: transparent !important;
}
.loader-warning.folding-cube div:before {
  background-color: #ffa87d !important;
}

.loader-danger div {
  background-color: #ff7588 !important;
}

.loader-danger.ball-clip-rotate div {
  border-color: #ff7588 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}

.loader-danger.ball-clip-rotate-pulse div:first-child {
  background: #ff7588 !important;
}

.loader-danger.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #ff7588 transparent #ff7588 transparent !important;
}

.loader-danger.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #ff7588 transparent #ff7588 !important;
}

.loader-danger.ball-rotate div:before,
.loader-danger.ball-rotate div:after {
  background-color: #ff7588 !important;
}

.loader-danger.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #ff7588 !important;
}

.loader-danger.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #ff7588 !important;
}

.loader-danger.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #ff7588 !important;
}

.loader-danger.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #ff7588 !important;
}

.loader-danger.semi-circle-spin div {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(70%, transparent),
    color-stop(30%, #ff7588),
    to(#ff7588)
  );
  background-image: -webkit-linear-gradient(transparent 0%, transparent 70%, #ff7588 30%, #ff7588 100%);
  background-image: -moz-linear-gradient(transparent 0%, transparent 70%, #ff7588 30%, #ff7588 100%);
  background-image: -o-linear-gradient(transparent 0%, transparent 70%, #ff7588 30%, #ff7588 100%);
  background-image: linear-gradient(transparent 0%, transparent 70%, #ff7588 30%, #ff7588 100%);
  background-color: transparent !important;
}

.loader-danger.fading-circle div {
  background-color: transparent !important;
}
.loader-danger.fading-circle div:before {
  background-color: #ff7588 !important;
}

.loader-danger.folding-cube div {
  background-color: transparent !important;
}
.loader-danger.folding-cube div:before {
  background-color: #ff7588 !important;
}

.loader-red div {
  background-color: #f44336 !important;
}

.loader-red.ball-clip-rotate div {
  border-color: #f44336 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}

.loader-red.ball-clip-rotate-pulse div:first-child {
  background: #f44336 !important;
}

.loader-red.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #f44336 transparent #f44336 transparent !important;
}

.loader-red.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #f44336 transparent #f44336 !important;
}

.loader-red.ball-rotate div:before,
.loader-red.ball-rotate div:after {
  background-color: #f44336 !important;
}

.loader-red.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #f44336 !important;
}

.loader-red.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #f44336 !important;
}

.loader-red.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #f44336 !important;
}

.loader-red.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #f44336 !important;
}

.loader-red.semi-circle-spin div {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(70%, transparent),
    color-stop(30%, #f44336),
    to(#f44336)
  );
  background-image: -webkit-linear-gradient(transparent 0%, transparent 70%, #f44336 30%, #f44336 100%);
  background-image: -moz-linear-gradient(transparent 0%, transparent 70%, #f44336 30%, #f44336 100%);
  background-image: -o-linear-gradient(transparent 0%, transparent 70%, #f44336 30%, #f44336 100%);
  background-image: linear-gradient(transparent 0%, transparent 70%, #f44336 30%, #f44336 100%);
  background-color: transparent !important;
}

.loader-red.fading-circle div {
  background-color: transparent !important;
}
.loader-red.fading-circle div:before {
  background-color: #f44336 !important;
}

.loader-red.folding-cube div {
  background-color: transparent !important;
}
.loader-red.folding-cube div:before {
  background-color: #f44336 !important;
}

.loader-pink div {
  background-color: #e91e63 !important;
}

.loader-pink.ball-clip-rotate div {
  border-color: #e91e63 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}

.loader-pink.ball-clip-rotate-pulse div:first-child {
  background: #e91e63 !important;
}

.loader-pink.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #e91e63 transparent #e91e63 transparent !important;
}

.loader-pink.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #e91e63 transparent #e91e63 !important;
}

.loader-pink.ball-rotate div:before,
.loader-pink.ball-rotate div:after {
  background-color: #e91e63 !important;
}

.loader-pink.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #e91e63 !important;
}

.loader-pink.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #e91e63 !important;
}

.loader-pink.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #e91e63 !important;
}

.loader-pink.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #e91e63 !important;
}

.loader-pink.semi-circle-spin div {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(70%, transparent),
    color-stop(30%, #e91e63),
    to(#e91e63)
  );
  background-image: -webkit-linear-gradient(transparent 0%, transparent 70%, #e91e63 30%, #e91e63 100%);
  background-image: -moz-linear-gradient(transparent 0%, transparent 70%, #e91e63 30%, #e91e63 100%);
  background-image: -o-linear-gradient(transparent 0%, transparent 70%, #e91e63 30%, #e91e63 100%);
  background-image: linear-gradient(transparent 0%, transparent 70%, #e91e63 30%, #e91e63 100%);
  background-color: transparent !important;
}

.loader-pink.fading-circle div {
  background-color: transparent !important;
}
.loader-pink.fading-circle div:before {
  background-color: #e91e63 !important;
}

.loader-pink.folding-cube div {
  background-color: transparent !important;
}
.loader-pink.folding-cube div:before {
  background-color: #e91e63 !important;
}

.loader-purple div {
  background-color: #9c27b0 !important;
}

.loader-purple.ball-clip-rotate div {
  border-color: #9c27b0 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}

.loader-purple.ball-clip-rotate-pulse div:first-child {
  background: #9c27b0 !important;
}

.loader-purple.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #9c27b0 transparent #9c27b0 transparent !important;
}

.loader-purple.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #9c27b0 transparent #9c27b0 !important;
}

.loader-purple.ball-rotate div:before,
.loader-purple.ball-rotate div:after {
  background-color: #9c27b0 !important;
}

.loader-purple.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #9c27b0 !important;
}

.loader-purple.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #9c27b0 !important;
}

.loader-purple.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #9c27b0 !important;
}

.loader-purple.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #9c27b0 !important;
}

.loader-purple.semi-circle-spin div {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(70%, transparent),
    color-stop(30%, #9c27b0),
    to(#9c27b0)
  );
  background-image: -webkit-linear-gradient(transparent 0%, transparent 70%, #9c27b0 30%, #9c27b0 100%);
  background-image: -moz-linear-gradient(transparent 0%, transparent 70%, #9c27b0 30%, #9c27b0 100%);
  background-image: -o-linear-gradient(transparent 0%, transparent 70%, #9c27b0 30%, #9c27b0 100%);
  background-image: linear-gradient(transparent 0%, transparent 70%, #9c27b0 30%, #9c27b0 100%);
  background-color: transparent !important;
}

.loader-purple.fading-circle div {
  background-color: transparent !important;
}
.loader-purple.fading-circle div:before {
  background-color: #9c27b0 !important;
}

.loader-purple.folding-cube div {
  background-color: transparent !important;
}
.loader-purple.folding-cube div:before {
  background-color: #9c27b0 !important;
}

.loader-blue div {
  background-color: #1b9db3 !important;
}

.loader-blue.ball-clip-rotate div {
  border-color: #1b9db3 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}

.loader-blue.ball-clip-rotate-pulse div:first-child {
  background: #1b9db3 !important;
}

.loader-blue.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #1b9db3 transparent #1b9db3 transparent !important;
}

.loader-blue.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #1b9db3 transparent #1b9db3 !important;
}

.loader-blue.ball-rotate div:before,
.loader-blue.ball-rotate div:after {
  background-color: #1b9db3 !important;
}

.loader-blue.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #1b9db3 !important;
}

.loader-blue.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #1b9db3 !important;
}

.loader-blue.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #1b9db3 !important;
}

.loader-blue.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #1b9db3 !important;
}

.loader-blue.semi-circle-spin div {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(70%, transparent),
    color-stop(30%, #1b9db3),
    to(#1b9db3)
  );
  background-image: -webkit-linear-gradient(transparent 0%, transparent 70%, #1b9db3 30%, #1b9db3 100%);
  background-image: -moz-linear-gradient(transparent 0%, transparent 70%, #1b9db3 30%, #1b9db3 100%);
  background-image: -o-linear-gradient(transparent 0%, transparent 70%, #1b9db3 30%, #1b9db3 100%);
  background-image: linear-gradient(transparent 0%, transparent 70%, #1b9db3 30%, #1b9db3 100%);
  background-color: transparent !important;
}

.loader-blue.fading-circle div {
  background-color: transparent !important;
}
.loader-blue.fading-circle div:before {
  background-color: #1b9db3 !important;
}

.loader-blue.folding-cube div {
  background-color: transparent !important;
}
.loader-blue.folding-cube div:before {
  background-color: #1b9db3 !important;
}

.loader-cyan div {
  background-color: #00bcd4 !important;
}

.loader-cyan.ball-clip-rotate div {
  border-color: #00bcd4 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}

.loader-cyan.ball-clip-rotate-pulse div:first-child {
  background: #00bcd4 !important;
}

.loader-cyan.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #00bcd4 transparent #00bcd4 transparent !important;
}

.loader-cyan.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #00bcd4 transparent #00bcd4 !important;
}

.loader-cyan.ball-rotate div:before,
.loader-cyan.ball-rotate div:after {
  background-color: #00bcd4 !important;
}

.loader-cyan.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #00bcd4 !important;
}

.loader-cyan.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #00bcd4 !important;
}

.loader-cyan.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #00bcd4 !important;
}

.loader-cyan.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #00bcd4 !important;
}

.loader-cyan.semi-circle-spin div {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(70%, transparent),
    color-stop(30%, #00bcd4),
    to(#00bcd4)
  );
  background-image: -webkit-linear-gradient(transparent 0%, transparent 70%, #00bcd4 30%, #00bcd4 100%);
  background-image: -moz-linear-gradient(transparent 0%, transparent 70%, #00bcd4 30%, #00bcd4 100%);
  background-image: -o-linear-gradient(transparent 0%, transparent 70%, #00bcd4 30%, #00bcd4 100%);
  background-image: linear-gradient(transparent 0%, transparent 70%, #00bcd4 30%, #00bcd4 100%);
  background-color: transparent !important;
}

.loader-cyan.fading-circle div {
  background-color: transparent !important;
}
.loader-cyan.fading-circle div:before {
  background-color: #00bcd4 !important;
}

.loader-cyan.folding-cube div {
  background-color: transparent !important;
}
.loader-cyan.folding-cube div:before {
  background-color: #00bcd4 !important;
}

.loader-teal div {
  background-color: #009688 !important;
}

.loader-teal.ball-clip-rotate div {
  border-color: #009688 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}

.loader-teal.ball-clip-rotate-pulse div:first-child {
  background: #009688 !important;
}

.loader-teal.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #009688 transparent #009688 transparent !important;
}

.loader-teal.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #009688 transparent #009688 !important;
}

.loader-teal.ball-rotate div:before,
.loader-teal.ball-rotate div:after {
  background-color: #009688 !important;
}

.loader-teal.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #009688 !important;
}

.loader-teal.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #009688 !important;
}

.loader-teal.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #009688 !important;
}

.loader-teal.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #009688 !important;
}

.loader-teal.semi-circle-spin div {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(70%, transparent),
    color-stop(30%, #009688),
    to(#009688)
  );
  background-image: -webkit-linear-gradient(transparent 0%, transparent 70%, #009688 30%, #009688 100%);
  background-image: -moz-linear-gradient(transparent 0%, transparent 70%, #009688 30%, #009688 100%);
  background-image: -o-linear-gradient(transparent 0%, transparent 70%, #009688 30%, #009688 100%);
  background-image: linear-gradient(transparent 0%, transparent 70%, #009688 30%, #009688 100%);
  background-color: transparent !important;
}

.loader-teal.fading-circle div {
  background-color: transparent !important;
}
.loader-teal.fading-circle div:before {
  background-color: #009688 !important;
}

.loader-teal.folding-cube div {
  background-color: transparent !important;
}
.loader-teal.folding-cube div:before {
  background-color: #009688 !important;
}

.loader-yellow div {
  background-color: #ffeb3b !important;
}

.loader-yellow.ball-clip-rotate div {
  border-color: #ffeb3b !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}

.loader-yellow.ball-clip-rotate-pulse div:first-child {
  background: #ffeb3b !important;
}

.loader-yellow.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #ffeb3b transparent #ffeb3b transparent !important;
}

.loader-yellow.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #ffeb3b transparent #ffeb3b !important;
}

.loader-yellow.ball-rotate div:before,
.loader-yellow.ball-rotate div:after {
  background-color: #ffeb3b !important;
}

.loader-yellow.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #ffeb3b !important;
}

.loader-yellow.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #ffeb3b !important;
}

.loader-yellow.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #ffeb3b !important;
}

.loader-yellow.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #ffeb3b !important;
}

.loader-yellow.semi-circle-spin div {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(70%, transparent),
    color-stop(30%, #ffeb3b),
    to(#ffeb3b)
  );
  background-image: -webkit-linear-gradient(transparent 0%, transparent 70%, #ffeb3b 30%, #ffeb3b 100%);
  background-image: -moz-linear-gradient(transparent 0%, transparent 70%, #ffeb3b 30%, #ffeb3b 100%);
  background-image: -o-linear-gradient(transparent 0%, transparent 70%, #ffeb3b 30%, #ffeb3b 100%);
  background-image: linear-gradient(transparent 0%, transparent 70%, #ffeb3b 30%, #ffeb3b 100%);
  background-color: transparent !important;
}

.loader-yellow.fading-circle div {
  background-color: transparent !important;
}
.loader-yellow.fading-circle div:before {
  background-color: #ffeb3b !important;
}

.loader-yellow.folding-cube div {
  background-color: transparent !important;
}
.loader-yellow.folding-cube div:before {
  background-color: #ffeb3b !important;
}

.loader-amber div {
  background-color: #ffc107 !important;
}

.loader-amber.ball-clip-rotate div {
  border-color: #ffc107 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}

.loader-amber.ball-clip-rotate-pulse div:first-child {
  background: #ffc107 !important;
}

.loader-amber.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #ffc107 transparent #ffc107 transparent !important;
}

.loader-amber.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #ffc107 transparent #ffc107 !important;
}

.loader-amber.ball-rotate div:before,
.loader-amber.ball-rotate div:after {
  background-color: #ffc107 !important;
}

.loader-amber.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #ffc107 !important;
}

.loader-amber.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #ffc107 !important;
}

.loader-amber.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #ffc107 !important;
}

.loader-amber.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #ffc107 !important;
}

.loader-amber.semi-circle-spin div {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(70%, transparent),
    color-stop(30%, #ffc107),
    to(#ffc107)
  );
  background-image: -webkit-linear-gradient(transparent 0%, transparent 70%, #ffc107 30%, #ffc107 100%);
  background-image: -moz-linear-gradient(transparent 0%, transparent 70%, #ffc107 30%, #ffc107 100%);
  background-image: -o-linear-gradient(transparent 0%, transparent 70%, #ffc107 30%, #ffc107 100%);
  background-image: linear-gradient(transparent 0%, transparent 70%, #ffc107 30%, #ffc107 100%);
  background-color: transparent !important;
}

.loader-amber.fading-circle div {
  background-color: transparent !important;
}
.loader-amber.fading-circle div:before {
  background-color: #ffc107 !important;
}

.loader-amber.folding-cube div {
  background-color: transparent !important;
}
.loader-amber.folding-cube div:before {
  background-color: #ffc107 !important;
}

.loader-blue-grey div {
  background-color: #607d8b !important;
}

.loader-blue-grey.ball-clip-rotate div {
  border-color: #607d8b !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}

.loader-blue-grey.ball-clip-rotate-pulse div:first-child {
  background: #607d8b !important;
}

.loader-blue-grey.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #607d8b transparent #607d8b transparent !important;
}

.loader-blue-grey.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #607d8b transparent #607d8b !important;
}

.loader-blue-grey.ball-rotate div:before,
.loader-blue-grey.ball-rotate div:after {
  background-color: #607d8b !important;
}

.loader-blue-grey.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #607d8b !important;
}

.loader-blue-grey.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #607d8b !important;
}

.loader-blue-grey.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #607d8b !important;
}

.loader-blue-grey.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #607d8b !important;
}

.loader-blue-grey.semi-circle-spin div {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(70%, transparent),
    color-stop(30%, #607d8b),
    to(#607d8b)
  );
  background-image: -webkit-linear-gradient(transparent 0%, transparent 70%, #607d8b 30%, #607d8b 100%);
  background-image: -moz-linear-gradient(transparent 0%, transparent 70%, #607d8b 30%, #607d8b 100%);
  background-image: -o-linear-gradient(transparent 0%, transparent 70%, #607d8b 30%, #607d8b 100%);
  background-image: linear-gradient(transparent 0%, transparent 70%, #607d8b 30%, #607d8b 100%);
  background-color: transparent !important;
}

.loader-blue-grey.fading-circle div {
  background-color: transparent !important;
}
.loader-blue-grey.fading-circle div:before {
  background-color: #607d8b !important;
}

.loader-blue-grey.folding-cube div {
  background-color: transparent !important;
}
.loader-blue-grey.folding-cube div:before {
  background-color: #607d8b !important;
}

.loader-grey-blue div {
  background-color: #1b2942 !important;
}

.loader-grey-blue.ball-clip-rotate div {
  border-color: #1b2942 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}

.loader-grey-blue.ball-clip-rotate-pulse div:first-child {
  background: #1b2942 !important;
}

.loader-grey-blue.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #1b2942 transparent #1b2942 transparent !important;
}

.loader-grey-blue.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #1b2942 transparent #1b2942 !important;
}

.loader-grey-blue.ball-rotate div:before,
.loader-grey-blue.ball-rotate div:after {
  background-color: #1b2942 !important;
}

.loader-grey-blue.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #1b2942 !important;
}

.loader-grey-blue.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #1b2942 !important;
}

.loader-grey-blue.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #1b2942 !important;
}

.loader-grey-blue.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #1b2942 !important;
}

.loader-grey-blue.semi-circle-spin div {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(70%, transparent),
    color-stop(30%, #1b2942),
    to(#1b2942)
  );
  background-image: -webkit-linear-gradient(transparent 0%, transparent 70%, #1b2942 30%, #1b2942 100%);
  background-image: -moz-linear-gradient(transparent 0%, transparent 70%, #1b2942 30%, #1b2942 100%);
  background-image: -o-linear-gradient(transparent 0%, transparent 70%, #1b2942 30%, #1b2942 100%);
  background-image: linear-gradient(transparent 0%, transparent 70%, #1b2942 30%, #1b2942 100%);
  background-color: transparent !important;
}

.loader-grey-blue.fading-circle div {
  background-color: transparent !important;
}
.loader-grey-blue.fading-circle div:before {
  background-color: #1b2942 !important;
}

.loader-grey-blue.folding-cube div {
  background-color: transparent !important;
}
.loader-grey-blue.folding-cube div:before {
  background-color: #1b2942 !important;
}
