

// .input-textarea {
// 	background-color: #ececec;
// 	border-bottom: 2px solid #dfdfdf;
// 	border-radius: 4px;

// 	transition-duration: 0.3s;
// 	transition-property: border-color;

// 	position: relative;

// 	&--fullHeight {
// 		height: 100%;
// 	}

// 	&--required::before {
// 		background-color: var(--ion-color-primary);
// 		content: '';
// 		height: 100%;
// 		left: 0;
// 		opacity: 0.1;
// 		position: absolute;
// 		top: 0;
// 		width: 100%;
// 		z-index: 0;
// 	}

// 	&--invalid {
// 		border-color: #c62828;
// 	}

// 	&__label {
// 		display: flex;
// 		align-items: center;
// 		flex-direction: row;

// 		color: var(--ion-color-primary);
// 		font-size: 16px;
// 		margin-bottom: 2px;
// 		padding: 10px 15px 0 15px;
// 		position: relative;
// 		width: 100%;

// 		span {
// 			width: fit-content;
// 		}

// 		@media only screen and (max-device-width: 480px) {
// 			font-size: 12px;
// 		}

// 		@media only screen and (max-device-width: 850px) and (orientation: landscape) {
// 			font-size: 12px;
// 		}
// 	}

// 	&__icon {
// 		color: #c7c7c7;
// 		font-size: 17px;

// 		transition-duration: 0.3s;
// 		transition-property: color;

// 		&--active {
// 			color: var(--ion-color-primary);
// 		}

// 		@media only screen and (max-device-width: 480px) {
// 			font-size: 13px;
// 		}
// 	}

// 	&__switch {
// 		color: #9e9e9e;
// 		font-size: 23px;

// 		margin-left: auto;

// 		@media only screen and (max-device-width: 480px) {
// 			font-size: 20px;
// 		}
// 	}

// 	&__input {
// 		position: relative;

// 		.ql-toolbar {
// 			border: none;
// 		}

// 		.toolbar {
// 			display: flex;
// 			align-items: center;
// 			flex-direction: row;

// 			background-color: #f5f5f5;

// 			height: 55px;
// 			margin: 10px 0;
// 		}

// 		&--selected {
// 			.toolbar {
// 				margin-bottom: 40px !important;
// 			}
// 		}

// 		@media only screen and (max-device-width: 480px) {
// 			.toolbar {
// 				height: 30px;
// 				margin-top: 0;

// 				> span {
// 					display: flex;
// 					align-items: center;
// 				}
// 			}
// 		}
// 	}

// 	&__error {
// 		// animation-name: slideIn;
// 		// animation-duration: 0.3s;
// 		// color: red;
// 		// font-size: 16px;
// 		// font-style: italic;
// 		// margin-top: 10px;
// 		// padding-left: 15px;
// 		// text-align: left;

// 		// @media only screen and (max-device-width: 480px)  {
// 		// 	font-size: 12px;
// 		// }
// 	}
// }

.input-loader {
	border-bottom: #c7c7c7 1px solid;
	border-radius: 3px;
	height: 50px;
	margin: 0 0 10px 0;

	// @media only screen and (max-device-width: 800px) {
	// 	margin: 0 0 5px 0;
	// }
}

@keyframes slideIn {
	from {
		margin-top: -15px;
	}

	to {
		margin-top: 10px;
	}
}

.ql-editor-custom {
	-webkit-user-select: text;
}
