<!-- <ng-container *ngIf="base64 == null">
  <div class="loader"></div>
</ng-container> -->


<div>
  <div class="modal-dialog modal-lg"
    role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title"
          id="PdfView">
          <i class="ft-file-minus"></i>
          {{ 'labels.VisualiserPdf' | translate }}
        </h4>

        <button id="devis-details-cancel-viewPdf-btn" (click)="close()"
          type="button"
          class="close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <div class="card-body download-Model">
          <pdf-viewer [src]="displayData?.pdfSource" [show-all]="true" [original-size]="false" [zoom]="1.0"
             style="display: block"></pdf-viewer>
        </div>
      </div>
      <div class="modal-footer">
        <button id="cancel-viewPdf-btn"  (click)="close()"
          type="button"
          class="btn grey btn-secondary">{{ 'labels.cancel' | translate }}</button>
        <button type="button" *ngIf="docType !== ''"
          id="telecharger-Pdf-btn"
          class="btn btn-success"
          (click)="generatePDF()">
          {{ 'labels.telecharger' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>


<!-- <ng-container *ngIf="base64 != null"> -->

<!-- </ng-container> -->