.Retenue-garantie {
  text-align: left;
  font-weight: bold;
}

.table-acrticles th,
.table-acrticles td {
  // padding: 0.75rem 2rem;
  text-align: center !important;
}
.table-acrticles {
  margin-top: 20px !important;
}
