<ng-container *ngIf="menu.active">
  <nav class="root">

    <!-- Left -->
    <div class="left">
      <div class="title">
        <span class="label">{{ title }}</span>
        <div *ngIf="icon" class="icon">
          <img alt="Group icon" [src]="icon">
        </div>
      </div>

      <div *ngIf="header.breadcrumb" class="cust-breadcrumb">
        <ul class="cust-breadcrumb__list">
          <li *ngFor="let item of header.breadcrumb" class="cust-breadcrumb__item" [routerLink]="item.route">
            {{ item.label }}</li>
        </ul>
      </div>
    </div>

    <!-- Right -->
    <div class="right">

      <!-- Notifications -->
      <!-- <div #notificationsTrigger="cdkOverlayOrigin" cdkOverlayOrigin matRipple class="notifications"
        [matRippleColor]="'#ffffff75'" (click)="onNotificationsTriggered()">

        <img src="./assets/app/images/Icons/bell.svg" alt="Notifications icon">
        <div class="notifications__count">
          <span>{{ 2 }}</span>
        </div>
      </div> -->

      <!-- Account -->
      <div matRipple class="account" [matRippleColor]="'#ffffff75'" [matMenuTriggerFor]="matMenu">
        <div class="icon">
          <div class="generated-avatar">
            <span>{{ generateAvatar() }}</span>
          </div>
          <!-- <img class="user-avatar"
            src="./assets/app/images/avatar.png"
            alt="User avatar"> -->
        </div>
        <div class="label">{{ user?.lastName }}</div>
        <div class="dropdown">
          <img src="./assets/app/images/Icons/chevron-down.svg" alt="Dropdown icon">
        </div>
      </div>
    </div>
  </nav>

  <!-- #region Admin menu -->
  <mat-menu #matMenu="matMenu" class="cust-menu">

    <span mat-menu-item class="menu-item" (click)="onProfile()">
      <span class="label">{{ 'editProfile' | translate }}</span>
      <div class="icon">
        <img src="./assets/app/images/Icons/user.svg" alt="Users icon">
      </div>
    </span>

    <span mat-menu-item class="menu-item" data-toggle="modal" data-target="#changePassword"
      (click)="onChangePassword()">
      <span class="label">{{ 'LABELS.changeThePassword' | translate }}</span>
      <div class="icon">
        <img src="./assets/app/images/Icons/key.svg" alt="Users icon">
      </div>
    </span>

    <span mat-menu-item class="menu-item menu-item--divider" (click)="onLogout()">
      <span class="label">{{ 'logout' | translate }}</span>
      <div class="icon">
        <img src="./assets/app/images/Icons/power.svg" alt="Users icon">
      </div>
    </span>
  </mat-menu>
  <!-- #endregion -->

  <!-- #region Password modal -->
  <!-- <change-password></change-password> -->
  <!-- #endregion -->

  <!-- #region Notifications overlay -->
  <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="notificationsTrigger"
    [cdkConnectedOverlayOpen]="notificationsOpened" [cdkConnectedOverlayHasBackdrop]="true"
    (backdropClick)="onBackdropClicked()">
    <app-notifications></app-notifications>
  </ng-template>
  <!-- #endregion -->
</ng-container>