<div class="root">
  <div class="left">
    <p class="label">
      Affichage de l'élément {{ getFirstElement() }} à {{ getLastElement() }} sur {{ painationInfo?.rowsCount }}
      éléments.
    </p>
    <div class="dropdown">
      <div class="radial-btn radial-btn--up"
        [matMenuTriggerFor]="matMenu">
        <i class="fa fa-chevron-down"></i>
      </div>
    </div>
  </div>
  <div class="right">

    <!-- Previous -->
    <div class="radial-btn radial-btn--left"
      [ngClass]="{ 'radial-btn--disabled': painationInfo?.currentPage <= 1 }"
      (click)="Precedent()">
      <i class="fa fa-chevron-left"></i>
    </div>

    <!-- Pages -->
    <div *ngIf="painationInfo?.currentPage - 1 > 0"
      class="radial-btn radial-btn--up"
      (click)="changePage(painationInfo?.currentPage - 1)">
      <span>{{ painationInfo?.currentPage - 1 }}</span>
    </div>
    <div class="radial-btn radial-btn--up radial-btn--active">
      <span>{{ painationInfo?.currentPage }}</span>
    </div>
    <div *ngIf="painationInfo?.pagesCount >= painationInfo?.currentPage + 1"
      class="radial-btn radial-btn--up"
      (click)="changePage(painationInfo?.currentPage + 1)">
      <span>{{ painationInfo?.currentPage + 1 }}</span>
    </div>
    <div *ngIf="painationInfo?.pagesCount >= painationInfo?.currentPage + 2"
      class="radial-btn radial-btn--up"
      (click)="changePage(painationInfo?.currentPage + 2)">
      <span>{{ painationInfo?.currentPage + 2 }}</span>
    </div>

    <!-- Next -->
    <div class="radial-btn radial-btn--right"
      [ngClass]="{ 'radial-btn--disabled': painationInfo?.currentPage >= painationInfo?.pagesCount}"
      (click)="Suivant()">
      <i class="fa fa-chevron-right"></i>
    </div>

    <!-- Dropdown -->
    <div class="radial-btn radial-btn--up" (click)="Dernier()">
      <i class="fa fa-chevron-down"></i>
    </div>
  </div>
</div>

<!-- <div class="page-size">
  Afficher
  <select #pageSize
    (change)="PageSize(pageSize.value)">
    <option *ngFor="let size of pageSizes"
      [value]="size">{{size}}</option>
  </select>
  éléments
</div>

<div class="pagination">
  <a class="page-link"
    (click)="Premier()"
    id="Premier-pagination-btn">Premier</a>
  <a class="page-link"
    (click)="Precedent()"
    id="Precedent-pagination-btn">Précédent</a>

  <a class="page-link"
    *ngIf="painationInfo?.currentPage - 1 > 0"
    (click)="changePage(painationInfo?.currentPage - 1)"
    id="currentPage-pagination-btn">
    {{ painationInfo?.currentPage - 1}}</a>

  <a class="page-link active">{{painationInfo?.currentPage}}</a>
  <a class="page-link"
    *ngIf="painationInfo?.pagesCount >= painationInfo?.currentPage + 1"
    id="currentPage2-pagination-btn"
    (click)="changePage(painationInfo?.currentPage + 1 )">{{ painationInfo?.currentPage + 1 }}</a>


  <a class="page-link"
    (click)="Suivant()"
    id="Suivant-pagination-btn">Suivant</a>
  <a class="page-link"
    (click)="Dernier()"
    id="Dernier-pagination-btn">Dernier</a>
</div> -->

<!-- #region Page sizes menu -->
<mat-menu #matMenu="matMenu"
  class="cust-menu cust-menu--compact cust-menu--number">
  <span *ngFor="let size of pageSizes"
    mat-menu-item
    class="menu-item">
    <span class="label"
      (click)="PageSize(size)">{{ size }}</span>
  </span>
</mat-menu>
<!-- #endregion -->
