<div class="root">

  <div class="display-table">
    <div class="display-table__head">
      <div class="left">
      </div>
      <div class="right right-button">

        <div class="cust-button cust-button--success" placement="bottom"
          ngbTooltip="{{ 'labels.modifier' | translate }} {{ 'labels.parametragedocument' | translate }}"
          (click)="update()">
          <span>{{ 'labels.validermodifier' | translate}} </span>
        </div>
      </div>
    </div>
    <div class="display-table__body">
      <section id="horizontal-form-layouts">
        <div *ngFor="let document of data; let i = index">
          <app-edit-parameters [document]="document" [data]="data" (items)="getData($event)"> </app-edit-parameters>
        </div>
      </section>
    </div>
  </div>


</div>