<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">
          <div class="cust-card__head">

            <div class="left">
              <!-- <ng-container *ngIf="form && form.value.nom">
                <div class="title">
                  {{ form.value.nom }}
                </div>
              </ng-container> -->
              <ng-container>
                <div class="title" *ngIf="isModif()">
                  {{ 'update.' + docType | translate }} : {{ gammeMaintenanceEquipement?.equipmentName }}

                </div>
                <div class="title" *ngIf="isCreate()">
                  {{ 'create.' + docType | translate }}
                </div>
                <div class="title" *ngIf="isDetail()">
                  {{ gammeMaintenanceEquipement?.equipmentName }}
                </div>
              </ng-container>
            </div>

            <div class="right flexcontrols" *ngIf="isValid()">
              <div class="flexcontrols">

                <div id="annuler" class="cust-button cust-button--secondary" (click)="close()">
                  <span> Annuler </span>
                </div>

                <div id="valider" class="cust-button cust-button--success" (click)="submit()">
                  <span>Valider</span>
                </div>
              </div>
            </div>

            <div class="right flexcontrols" *ngIf="!isValid()">
              <div class="flexcontrols">

                <div class="icon" placement="bottom" ngbTooltip="Modifier"
                  [routerLink]="['/gammemaintenanceequipements/edit',gammeMaintenanceEquipement?.id]">
                  <img src="./assets/app/images/Icons/Groupe 721.svg" alt="Edit icon">
                </div>

                <div class="icon" placement="bottom" ngbTooltip="Dupliquer"
                  [routerLink]="['/gammemaintenanceequipements/create',gammeMaintenanceEquipement?.id]">
                  <img src="./assets/app/images/Icons/Groupe 701.svg" alt="Edit icon">
                </div>

              </div>

              <div class="icon" placement="bottom" ngbTooltip="Supprimer" (click)="delete(gammeMaintenanceEquipement)">
                <img src="./assets/app/images/Icons/Groupe 722.svg" alt="Edit icon">
              </div>
            </div>
          </div>

          <div class="cust-card__body">
            <div class="body">
              <div *ngIf="!readOnly">
                <form [formGroup]="form">

                  <div class="row">
                    <div class="col">
                      <div class="cust-input-group">
                        <div class="cust-label">{{ 'LABELS.NOM' | translate }} :</div>
                        <div class="cust-input cust-input--nom">
                          <label class="cust-input__wrapper">
                            <input class="cust-input__input" id="add-nom" type="text" formControlName="nom">
                          </label>
                        </div>
                        <small class="text-danger"
                          *ngIf="f?.nom?.errors?.required">{{'errors.required'| translate }}</small>
                        <small class="text-danger"
                          *ngIf="f?.nom?.hasError('checkUniqueNom')">{{'errors.unique' | translate }}</small>
                        <small class="text-danger"
                          *ngIf="f?.nom?.errors?.minlength">{{'errors.minLength' | translate:{number:3} }}</small>
                      </div>
                    </div>

                    <div class="col">
                      <!-- <div class="cust-input-group">
                        <div class="cust-label">Description :</div>
                        <div class="cust-input cust-input--textarea">
                          <label class="cust-input__wrapper">
                            <textarea class="cust-input__input"
                              id="add-nom"
                              type="text"
                              rows="4"
                              placeholder="Description de la GME"
                              formControlName="description"></textarea>
                          </label>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </form>
              </div>

              <div class="row" *ngIf="readOnly">
                <div class="col">
                  <div class="cust-input-group">
                    <div class="cust-label">{{ 'LABELS.NOM' | translate }} :</div>
                    <div class="cust-labelGros"> {{ gammeMaintenanceEquipement?.equipmentName }} </div>
                  </div>
                </div>
              </div>

              <br>
              <br>

              <gamme-maintenance-equipement [load]="emitter" [readOnly]="readOnly" [libelles]="equipements">
              </gamme-maintenance-equipement>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>


<custom-loader [displayLoader]="processing"></custom-loader>