.card-body {
  overflow: auto !important;
}
.tracking-list{
  margin-bottom: 25px;
}
.modal-header {
  overflow: auto !important;
}

.centered {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav.nav-tabs .nav-item {
  background-color: white !important;
  color: #84cbabab !important;
  border-color: #f5f7fa !important;
}

.nav.nav-tabs .nav-item .nav-link.active {
  color: white !important;
  width: 300px !important;
  background-color: #84cbab !important;
  border-radius: 0.25rem 0.25rem 0 0 !important;
  border-color: lightsteelblue !important;
}

.nav.nav-tabs .nav-item .nav-link {
  background-color: white !important;
  width: 300px !important;
  //  color: #41b1e6  !important;
  background-color: #84cbab !important;
  padding: 0.5rem 0.7rem;
  display: inline-flex !important;
  border-radius: 0.25rem 0.25rem 0 0 !important;
  border-color: #626e82 !important;
}

nav-link {
  color: #84cbab !important;
}

//   .bg-primary {
//     background-color: #1B9DB3  !important;
//     color: white !important;
// }

.card-title {
  color: #fff !important;
}

.title {
  // font-size: large !important;
  display: inline-block !important;
  max-width: 100% !important;
  margin-bottom: 5px !important;
  font-weight: 700 !important;
}

.custom-card-header {
  padding: 10px 15px;
}

.float-md-right {
  a {
    margin-right: 6px !important;
  }
}

.card-plan-comptable {
  background: #e6e6e7;
  color: #2c445a;
}

.container-scroll {
  overflow: auto;
  height: 20vw;
  margin-top: 2vw;
}

.btn-sm-custom {
  padding: 5px 10px;
}

.table th,
.table td {
  padding: 0.5rem 0.5rem;
}

.card-body {
  overflow: auto;
}

.modal-body {
  overflow: auto;
}

.modal-content {
  overflow: auto !important;

  width: 600px !important;
}

th {
  color: #fff !important;
}

#minimal-statistics {
  .card-plan-comptable {
    .card-content {
      .card-body {
        padding: 0.8rem;
      }
    }
  }
}

#page-comptable {
  nav {
    a {
      background: transparent !important;
      color: #2c3648 !important;
      padding: 12px;
      flex: inherit;
      font-size: 15px;
      border: none;
      &.active {
        border-bottom: 2px solid #98a4b8 !important;
      }
    }
  }

  .form-control {
    width: auto;
    margin-bottom: 0.5vh;
  }

  input {
  }

  .sub-heading {
    width: 100%;
  }

  button {
    border: none;
    font-weight: normal !important;
    font-size: 12px;
    &.btn-icon {
      line-height: 20px;
    }
  }

  th {
    color: #404e67 !important;
  }

  .periode-comptable {
    .card-body {
    }
  }

  button,
  a.btn {
    border: none;
    font-weight: normal !important;
    font-size: 12px;
    &.btn-icon {
      line-height: 20px;
    }
  }

  .btn-success {
    background-color: #48da69 !important;
    border-color: #3eca5e !important;
    &:hover {
      color: white !important;
    }
  }
}

.cust-input {
  width: 195px !important;
}

.cust-button--success {
  /* background: #38b475 0% 0% no-repeat padding-box; */
  background-color: #38b475;
  color: white;
}

// new code
.modal {
  background-color: #0000007a;

  .modal-dialog {
    max-width: 550px !important;
  }

  .modal-content {
    border: none;
  }

  .cust-card {
    &__head {
      .right {
        display: flex;
        align-items: center;
        justify-content: center;

        label {
          margin-bottom: 0;
          margin-right: 10px;
        }
      }
    }
  }
}

.cust-button {
  box-shadow: none;
  color: white;
}
