.axiobat-modal {
  border-radius: 10px;
}
.flexcontrols {
  display: flex;
  div:last-of-type {
    margin-left: 10px;
  }
}

.btn-sm {
  font-size: 0.875rem !important;
  line-height: 1.5rem !important;
  border-radius: 0.21rem !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.row {
  margin-bottom: 15px;
}

.btn-list {
  display: flex;
  flex-direction: row;

  align-items: flex-end;
  justify-content: center;

  .cust-input-group {
    flex: 1;
    margin-right: 10px;
  }
}

.checkbox {
  margin: 0.5rem;
}

input[type="checkbox"] {
  visibility: hidden;
}
input[type="checkbox"] + label:before {
  border: 1px solid rgb(119, 115, 115);
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  width: 20px; /*Desired width*/
  height: 20px; /*Desired height*/
  // margin: 0 .25em 0 0;
  // padding: 0;
  // vertical-align: top;
}
input[type="checkbox"]:checked + label:before {
  background: #fff;
  color: #38b475;
  content: "\2713";
  text-align: center;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
  background-color: #38b475;
}

input[type="checkbox"]:focus + label::before {
  outline: #fff auto 5px;
  //    background-color: #fff;
}

::ng-deep {
  .ui-button-primary.ui-splitbutton.ui-buttonset.ui-widget {
    padding: 1px 0;
    .ui-button:first-of-type {
      display: none;
    }
    .ui-button-icon-left.ui-clickable::before {
      content: "\f142";
      font-family: FontAwesome;
    }
  }
}

.form-control.calendar {
  height: 50px;
  padding: 0px;
}
// select.form-control.ng-pristine.ng-valid.ng-touched {
//   width: 171px !important;
// }

select.select-type {
  border: 1px solid #f7fafc !important;
  height: 35px !important;
  background-color: #f7fafc !important;
  border-radius: -5% !important;
  border-radius: 0.25rem !important;
  text-align: right;
  width: 278px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent !important;
}
.select-datepicker {
  border: 1px solid #f7fafc !important;
  height: 35px !important;
  background-color: #f7fafc !important;
  border-radius: -5% !important;
  border-radius: 0.25rem !important;
  text-align: right;
  width: 278px;
}

.radio {
  margin: 0.5rem;
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: "";
        background: white;
        border-radius: 50%;
        border: 1px solid #1a73e8;
        display: inline-block;
        width: 15px;
        height: 15px;
        position: relative;
        top: 0.3em;
        margin-right: 1em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: #1a73e8;
          box-shadow: inset 0 0 0 4px white;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: #1a73e8;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px #f4f4f4;
          border-color: darken(#f4f4f4, 25%);
          background: darken(#f4f4f4, 25%);
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}

.container {
  max-width: 720px;
  margin-top: 0px;

  margin-left: -8px;
}

.radio {
  margin-bottom: 5px;
}

.mat-form-field-infix {
  width: 254px !important;
  background-color: red !important;
}
.mat-form-field-infix {
  width: 254px;
}

mat-form-field.mat-form-field {
  width: 273px;
}

.btn-personalise {
  padding-top: 7px;
  /* background-color: aquamarine; */
  border: 1px solid #2dcee3 !important;
  height: 35px !important;
  background-color: #2dcee3 !important;
  border-radius: -5% !important;
  border-radius: 0.25rem !important;
  text-align: center;
  color: white;
}

// .btn-light {
//   color: #2a2e30;
//   background-color: #babfc7;
//   border-color: #babfc7;
// }

.colorVert {
	color: #8bd0ad;
}
