<div class="root">
	<div class="row">
		<div class="col">
			<div class="details">
				<div>

					<div class="cust-card__head">

						<div class="left">
							<div class="title">
					           {{ title}} type de document
							</div>
						</div>

						<div class="right flexcontrols">
							<div class="flexcontrols">

								<div id="annuler" class="cust-button cust-button--secondary" (click)="close()">
									<span> Annuler </span>
								</div>

								<div id="valider" class="cust-button cust-button--success" (click)="submit()">
									<span> Valider </span>
								</div>
							</div>
						</div>
					</div>

					<div class="cust-card__body">
						<div class="body">
							<form [formGroup]="form">

								<div class="row">

									<!-- Name -->
									<div class="col">
										<div class="cust-input-group">
											<div class="cust-label">{{ 'LABELS.NOM' | translate }}:</div>
											<div class="cust-input">
												<label class="cust-input__wrapper">
													<input class="cust-input__input" id="add-form-btn"
														type="text" formControlName="nom">
												</label>
											</div>
										</div>
									</div>

								</div>

							
							</form>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>