.btn-file-upload {
  cursor: pointer;
  display: block;

  background-color: #efefef;
  border: 3px dashed #c5c5c5;
  border-radius: 8px;

  margin: 0 auto !important;
  padding: 20px;

  max-width: 380px;
  width: 100%;

  text-align: center;
}

.img {
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 250px;
  }

  i {
    cursor: pointer;

    position: absolute;
    right: 10px;
    top: -27px;
  }
}
