<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">
          <div class="cust-card__head">

            <div class="left">
              <div class="title" *ngIf="isModif">
                {{  'labels.update' | translate }} {{  'labels.produit' | translate }} : {{ produit?.reference }}
              </div>
              <div class="title" *ngIf="!isModif">
                <!-- {{  'create.' + produit | translate }} -->
                {{  'labels.add' | translate }} {{  'labels.produit' | translate }} </div>
            </div>

            <div class="right flexcontrols">
              <div class="flexcontrols">

                <div id="annuler" class="cust-button cust-button--secondary" [routerLink]="['/produits']">
                  <span> Annuler </span>
                </div>

                <div id="valider" class="cust-button cust-button--success" (click)="save()">
                  <span>Valider</span>
                </div>
              </div>

            </div>
          </div>


          <div class="cust-card__body">
            <div class="body">
              <form [formGroup]="form">


                <div class="row">
                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.REFERENCE' | translate }} :</div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input" id="add-nom-chantier-form-btn" type="text"
                            formControlName="reference">

                        </label>
                      </div>
                      <small class="text-danger" *ngIf="f?.reference?.hasError('CheckUniqueReference')">{{'errors.unique'
                        | translate }}</small>
                      <small class="text-danger" *ngIf="f?.reference?.errors?.required">{{'errors.required' |
                        translate }}</small>
                    </div>
                  </div>
                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'labels.designation' | translate }} :</div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input" id="add-designation-form-btn" type="text"
                            formControlName="designation">
                        </label>
                      </div>
                      <small class="text-danger" *ngIf="f?.designation?.errors?.required">{{'errors.required' | translate
                      }}</small>
                      <small class="text-danger" *ngIf="f?.designation?.errors?.minlength">{{'errors.minLength' |
                      translate:{number:2} }}</small>
                    </div>
                  </div>
                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'labels.Categorie' | translate }} :</div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <mat-select formControlName="categoryId" class="cust-input__input">
                            <mat-optgroup *ngFor="let categorie of ListeCategorie" label="{{categorie.label}}">
                              <mat-option *ngFor="let item of categorie.subClassification" [value]="item?.id">
                                {{item?.label}}
                              </mat-option>
                            </mat-optgroup>
                          </mat-select>
                        </label>
                      </div>
                      <small class="text-danger" *ngIf="f?.categoryId?.errors?.required">{{'errors.required' | translate
                      }}</small>

                    </div>
                  </div>

                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'labels.type' | translate }} :</div>
                      <div class="cust-input cust-input--select">
                        <label class="cust-input__wrapper">
                          <mat-select id="add-productCategoryType-document-form-btn" class="cust-input__input"
                            formControlName="productCategoryTypeId">
                            <mat-option *ngFor="let item of typeProduct" id="add-fournisseur" [value]="item?.id">
                              {{item?.label}}</mat-option>
                          </mat-select>
                        </label>
                      </div>
                      <small class="text-danger" *ngIf="f?.categoryId?.errors?.required">{{'errors.required' | translate
                      }}</small>
                    </div>
                  </div>
                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'labels.Unite' | translate }} :</div>
                      <div class="cust-input cust-input--select">
                        <label class="cust-input__wrapper">
                          <mat-select id="add-unite-document-form-btn" class="cust-input__input"
                            formControlName="unite">
                            <mat-option *ngFor="let unite of ListeUnite" id="add-unite" [value]="unite?.acronym">
                              {{unite?.acronym}}</mat-option>
                          </mat-select>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="cust-input-group">

                    </div>
                  </div>
                </div>
                <br>

                <div class="row">
                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'labels.nombre_heure' | translate }} :</div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input input-right " id="add-nom-nombre-hure-form-btn" type="number"
                            appInputRemoveDefaultZero formControlName="totalHours"
                            placeholder="{{ 'labels.nombre_heure' | translate }}">

                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'labels.cout_horaire' | translate }} <i class="ft-info"
                          placement="bottom"
                          ngbTooltip="{{ f?.totalHours?.value }}  ({{ 'labels.nombre_heure' | translate }}) × {{ f?.hourlyCost?.value }} ({{ 'labels.cout_vente' | translate }})"></i>:
                      </div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input input-right " id="add-cout-horaire-form-btn" type="number"
                            appInputRemoveDefaultZero class="form-control currency-input input-right"
                            placeholder="{{ 'labels.cout_horaire' | translate }}" [value]="calculate_cout_horaire()"
                            disabled>

                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'labels.cout_materiel' | translate }} :</div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input input-right " id="add-materialCost-form-btn" type="number"
                            appInputRemoveDefaultZero formControlName="materialCost"
                            placeholder="{{ 'labels.cout_materiel' | translate }}">
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <br>
                <div class="row">
                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'labels.Tva' | translate }} :</div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input input-right " id="add-tva-form-btn" type="number"
                            appInputRemoveDefaultZero formControlName="vat">
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col">

                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'labels.TotalHt' | translate }} :</div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input input-right " id="add-TotalHt-form-btn" type="number"
                            appInputRemoveDefaultZero [value]="TotalHt()" disabled>

                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'labels.prixTTC' | translate }} :
                      </div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input input-right " id="add-prixTTC-form-btn" type="number"
                            appInputRemoveDefaultZero class="form-control currency-input input-right"
                            [value]="prixTtc(f?.materialCost?.value ,f?.vat?.value)" disabled>

                        </label>
                      </div>
                    </div>
                  </div>


                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-md-12 label-control"
                        for="description">{{ 'labels.description' | translate }}</label>
                      <div class="col-md-12">
                        <app-input-textarea id="description" [controlParent]="form" [readOnly]="false"
                          [controlName]="'description'" [placeholder]="'labels.description' | translate"
                          [label]="'labels.description' | translate">
                        </app-input-textarea>
                      </div>
                    </div>
                  </div>
                </div>


              </form>

            </div>

          </div>

        </div>
      </div>

    </div>

  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>


<br>
<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">
          <div class="cust-card__head">

            <div class="left">
              <div class="title">
                {{ 'PrixParFournisseur.title' | translate }}
              </div>
            </div>

          </div>
          <div class="cust-card__body">
            <!-- <div class="row">
              <div class="col-md-12">
                <ng-container *ngIf="!isModif">
                  <prix-par-fournisseur [getList]="loadData"></prix-par-fournisseur>
                </ng-container>
                <ng-container *ngIf="isModif">

                  <prix-par-fournisseur [PrixParFournisseur]="produit?.productSuppliers" [idProduit]="produit?.id"
                    [getList]="loadData"></prix-par-fournisseur>
                </ng-container>
              </div>
            </div> -->

            <div class="row">
              <div class="col">   
                  <fournisseur-card  [ListPrixParFournisseur]="produitSuppliers">
                  </fournisseur-card>
            </div>
    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">
          <div class="cust-card__head">

            <div class="left">
              <div class="title">
                {{ 'tags.title' | translate }}
              </div>
            </div>

          </div>
          <div class="cust-card__body">
            <div class="row">
              <div class="col-md-12">
                <ng-container *ngIf="isModif">
                  <ino-tags [allTagsList]="allTagsList" (onTagsChange)="onTagsChange($event)" [load]="[]">
                  </ino-tags>
                </ng-container>
                <ng-container *ngIf="!isModif">
                  <ino-tags [allTagsList]="allTagsList" [newTags]="newTags" [load]="[]"
                    (onTagsChange)="onTagsChange($event)">
                  </ino-tags>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<custom-loader [displayLoader]="processing"></custom-loader>