.root {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);

  width: 300px;

  transition-duration: 0.2s;
  transition-property: width;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #ececec;
    padding: 30px;

    .title h3 {
      font-family: Qanelas;
      font-size: 20px;
      font-weight: 800;
    }

    .controls {
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      mat-icon {
        font-size: 25px;
        font-weight: bold;
      }
    }
  }

  .body {
    .action-list {
      list-style-type: none;
      overflow: auto;

      margin: 0;
      padding: 0;

      .action-item {
        cursor: pointer;
        font-size: 14px;
        padding: 20px 30px;

        transition-duration: 0.2s;
        transition-property: background-color;

        &:hover {
          background-color: #f3f3f3;
        }

        .action-wrapper {
          display: flex;
          align-items: center;

          .action-icon {
            margin-right: 20px;

            transition-duration: 0.2s;
            transition-property: width;
          }
        }
      }
    }
  }

  &.closed {
    width: auto;

    .head {
      justify-content: center;
    }

    .title {
      display: none;
    }

    .action-icon {
      margin-right: 0 !important;
    }

    .action-label {
      display: none;
    }
  }
}
