<div class="root" [ngClass]="{ 'closed': !opened }">
  <div class="head">
    <div class="title">
      <h3> {{ title }} </h3>
    </div>
    <div class="controls" *ngIf="toggle">
      <mat-icon (click)="onToggle()">{{ opened ? 'chevron_right' : 'more_vert' }}</mat-icon>
    </div>
  </div>
  <div class="body">

    <ul class="action-list">
      <ng-container *ngFor="let action of actions">
        <ng-container *ngIf="!action?.isLabel">
          <li class="action-item" (click)="action.action(document)" *ngIf="action?.appear(document)">
            <div class="action-wrapper">
              <div class="action-icon">
                <img [src]="action.iconDetails" [alt]="action.label + ' icon'">
              </div>
              <div class="action-label">{{ action.label | translate }}</div>
            </div>
          </li>
        </ng-container>
        <ng-container *ngIf="action.isLabel">
          <li class="action-item">
            <div class="action-wrapper">
              <div class="action-label">{{ action.label }}</div>
            </div>
          </li>
        </ng-container>
      </ng-container>

    </ul>
  </div>
</div>