<!-- fixed-top-->
<nav id="stackNav"
  #stackNav
  class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-semi-light navbar-border">
  <div class="navbar-wrapper">
    <div class="navbar-header">
      <ul class="nav navbar-nav flex-row h-100">
        <li class="nav-item mobile-menu d-md-none mr-auto">
          <a class="nav-link nav-menu-main menu-toggle hidden-xs">
            <i class="ft-menu font-large-1"></i>
          </a>
        </li>
        <li class="nav-item m-auto">
          <a class="navbar-brand">
            <img alt="sbp"
              [src]="sidebarToggled == true ? 'assets/app/images/logo/Logo-3-Darkmode.png' : 'assets/app/images/logo/Logo-without-text.png'"
              [ngClass]="{'menuopen': sidebarToggled == false ,'menuclose':sidebarToggled == true}"
              class="brand-logo"
              id="stackLogo">
            <!-- <div style="width: 5rem; height: 3rem; margin-left: 4.5rem; margin-top: 3px; color: #fff; font-size: 50px; font-weight: 700; font-family: open-sans;">SBP</div> -->
          </a>
        </li>
        <li class="nav-item d-md-none">
          <a data-toggle="collapse"
            data-target="#navbar-mobile"
            class="nav-link open-navbar-container">
            <i class="fa fa-ellipsis-v"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="navbar-container content custom-nav">
      <div id="navbar-mobile"
        class="collapse navbar-collapse">
        <ul class="nav navbar-nav mr-auto float-left">
          <li class="nav-item d-none d-md-block ">
            <a href="javascript:;"
              (click)='sidebarToogle()'
              class="nav-link nav-menu-main menu-toggle hidden-xs d-block"
              id="stackNavMenu"
              #stackNavMenu>
              <i class="ft-menu"></i>
            </a>
            <a routerLink="/changelog"
              class="nav-link nav-menu-main hidden-xs font-small-3 d-none"
              id="stackNavBack"
              #stackNavBack>
              <i class="ft-arrow-left"></i>Back
            </a>
          </li>
        </ul>

        <ul class="nav navbar-nav float-right">
          <li class="dropdown dropdown-user nav-item"
            ngbDropdown
            placement="bottom-right">
            <a href="javascript:;"
              class="dropdown-toggle nav-link dropdown-user-link"
              id="dropdownUser"
              ngbDropdownToggle>
              <span class="avatar avatar-online">
                <!-- <img src="assets/app/images/portrait/small/avatar-s-1.png" alt="avatar"> -->
                <i class="ft-user"></i>

              </span>
              <span class="user-name ">{{ user?.username }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right"
              ngbDropdownMenu
              aria-labelledby="dropdownUser">
              <!--
                  <a href="#" class="dropdown-item"><i class="ft-mail"></i> My Inbox</a>
                  <a href="#" class="dropdown-item"><i class="ft-check-square"></i> Task</a>
                  <a href="#" class="dropdown-item"><i class="ft-message-square"></i> Chats</a>
                -->

              <a (click)="getProfile()"
                class="dropdown-item"><i class="ft-user "></i>{{ 'editProfile' | translate }}</a>
              <a class="dropdown-item "
                data-toggle="modal"
                data-target="#changePassword"
                (click)="setUserIdInlocalStorage(user?.id)">
                <i class="fa fa-key "></i> Changer le mot de passe
              </a>




              <div class="dropdown-divider"></div>
              <a (click)="logout()"
                class="dropdown-item"><i class="ft-power"></i>{{'logout' | translate}}</a>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>


</nav>

<!-- //modal -->

<!-- <change-password></change-password> -->
