<div class="root" *ngIf="data">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__body">
                        <div class="body">

                            <div class="row">


                                <div class="col">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.CLIENT' | translate }} :</div>
                                        <div class="cust-labelGros"> {{ data?.client?.name }} </div>
                                    </div>
                                </div>

                                <div class="col" *ngIf="isFicheIntervention()">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.WORKSHOP' | translate }} :</div>
                                        <div class="cust-labelGros"> {{ data?.workshop?.name }} </div>
                                    </div>
                                </div>

                                <div class="col" *ngIf="isFicheInterventionM()">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.TECHNICIEN' | translate }} :</div>
                                        <div class="cust-labelGros"> {{ data?.technician?.lastName }}
                                            {{ data?.technician?.firstName }} </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.SITEINTERVENTION' | translate }} :</div>
                                        <div class="cust-labelGros"> {{ data?.addressIntervention?.designation }} </div>
                                    </div>
                                </div>

                                <div class="col" *ngIf="isFicheInterventionM()">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.TYPE' | translate }} :</div>
                                        <div class="cust-label badge badge-default badge-sav"
                                            *ngIf="data?.type==typeInterventionMaintenance.AfterSalesService">
                                            {{ 'LABELS.SAV' | translate }} </div>
                                        <div class="cust-label badge badge-default badge-entretien"
                                            *ngIf="data?.type==typeInterventionMaintenance.Maintenance">
                                            {{ 'LABELS.ENTRETIEN' | translate }} </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.STATUS' | translate }} :</div>
                                        <div class="cust-input cust-input--select cust-input--status"
                                            [style.color]="getColor(data?.status)">
                                            <label class="cust-input__wrapper">
                                                <input class="cust-input__input" type="text"
                                                    [value]="data?.status | translate" disabled>
                                            </label>
                                        </div>
                                    </div>
                                </div>



                            </div>

                            <div class="row">

                                <div class="col">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.nombreDeplacement' | translate }} :</div>
                                        <div class="cust-labelGros"> {{ data?.visitsCount }} </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.DATE_DEBUT' | translate }} :</div>
                                        <div class="cust-labelGros">
                                            {{ data?.startDate    | date: 'dd/MM/yyyy HH:mm' }} </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.DATE_FIN' | translate }} :</div>
                                        <div class="cust-labelDate"> {{ data?.endDate | date: 'dd/MM/yyyy HH:mm' }}
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">


                                <div class="col">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.OBJET' | translate }} :</div>
                                        <div class="cust-input cust-input--textarea">
                                            <label class="cust-input__wrapper">
                                                <textarea matInput class="cust-input__input" disabled
                                                    [value]="data?.purpose"></textarea>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.RAPPORT' | translate }} :</div>
                                        <div class="cust-input cust-input--textarea">
                                            <label class="cust-input__wrapper">
                                                <div class="rich-text-value" [innerHTML]="data?.report">
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>

<br>

<div class="root" *ngIf="data && isFicheIntervention()">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                {{'LABELS.TECHNICIENS' | translate}}
                            </div>
                        </div>

                    </div>

                    <div class="cust-card__body">


                        <div class="row">
                            <div class="col-md-12">
                                <select-user [usersToDispaly]="data?.technicians" [readOnly]="true">
                                </select-user>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<!-- data?.unDoneMotif?.length > 0 -->
<div class="root" *ngIf="data && isFicheInterventionM() && data?.unDoneMotif?.length > 0 && data?.status === 'un_done'">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                Motif
                            </div>
                        </div>

                    </div>

                    <div class="cust-card__body">

                        <ng-container *ngIf="data?.unDoneMotif?.length > 0">

                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>{{ 'LABELS.NOMUSER' | translate }}</th>
                                            <th>{{ 'LABELS.DATE' | translate }}</th>
                                            <th>{{ 'LABELS.DESCRIPTION' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of data?.unDoneMotif; let index = index"
                                            style="background-color: white;">
                                            <td>{{item?.user?.userName}} </td>
                                            <td>{{item?.date | date:'dd/MM/yyyy' }}</td>
                                            <td>{{item?.description}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </ng-container>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="root" *ngIf="data && isPrestation()">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="row">
                    <div class="col-md-12">
                        <table-article [load]="emitter" [articles]="articles" [showPrices]="false"  [isIntervention]=true
                            [displaysGeneralCalculation]="false">
                        </table-article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="root" *ngIf="data && isEquipement()">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                {{'LABELS.listequipement' | translate}}
                            </div>
                        </div>

                    </div>

                    <div class="cust-card__body">


                        <div class="row title-table">
                            <div class="col-md-6">{{'LABELS.equipement' | translate}}</div>
                            <div class="col-md-6" style="padding-left: 33px;">{{'LABELS.observations' | translate}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tree-node-container">
                                    <div class="tree-equipepent"
                                        *ngFor="let equipement of data?.equipmentDetails;let indexElemnet=index">
                                        <div>
                                            <i class="ft-chevron-right" (click)="openElement(indexElemnet)"
                                                *ngIf="!checkElementIsOpen(indexElemnet)"></i>
                                            <i class="ft-chevron-down" (click)="openElement(indexElemnet)"
                                                *ngIf="checkElementIsOpen(indexElemnet)"></i>
                                            {{equipement?.equipmentName}}
                                        </div>
                                        <div class="tree-equipepent-libelle" *ngIf="checkElementIsOpen(indexElemnet)">
                                            <ul class="tree-equipepent-libelle-list"
                                                *ngFor="let libelle of equipement?.maintenanceOperations;let indexChild=index"
                                                style="padding: 0;
                                                margin: 0;">
                                                <li>
                                                    <div style="background: #e3ebf366; padding: 10px 0px 10px 15px;">

                                                        <i class="ft-chevron-right"
                                                            (click)="openChild(indexElemnet,indexChild)"
                                                            *ngIf="!checkChildIsOpen(indexElemnet,indexChild)"></i>
                                                        <i class="ft-chevron-down"
                                                            (click)="openChild(indexElemnet,indexChild)"
                                                            *ngIf="checkChildIsOpen(indexElemnet,indexChild)"></i>
                                                        {{libelle?.name}}
                                                    </div>
                                                    <div class="tree-equipepent-libelle-operation"
                                                        *ngIf="checkChildIsOpen(indexElemnet,indexChild)">
                                                        <ul class="tree-equipepent-libelle-operation-list"
                                                            *ngFor="let operations of libelle?.subOperations" style="padding: 0;
                                                      margin: 0;">
                                                            <li style="background: #ffffff; padding: 10px 5px 10px 40px;border-bottom: #e3ebf3 solid 1px;
                                                      ">
                                                                <div class="row">
                                                                    <div class="col-md-6"> {{operations?.name}}</div>
                                                                    <div class="col-md-4">

                                                                        <span *ngIf="listObservation.length !=0">
                                                                            {{getObservations(operations?.id)}}</span>
                                                                    </div>
                                                                </div>


                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<br>

<div class="root" *ngIf="data && isSignature()">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                {{'LABELS.SIGNATURE' | translate}}
                            </div>
                        </div>

                    </div>

                    <div class="cust-card__body">


                        <div class="row">
                            <div class="col-md-6">
                                <!-- <label class="col-md-1 label-control"> Signature client </label> -->
                                <img [src]="data?.clientSignature?.imageContent" class="image-Promotion" disabled />
                            </div>
                            <div class="col-md-6">
                                <!-- <label class="col-md-1 label-control"> Signature technicien </label> -->
                                <img [src]="data?.technicianSignature?.imageContent " class="image-Promotion"
                                    disabled />
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="root" *ngIf="data && isSignature()">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                {{'LABELS.SATISFICATION' | translate}}
                            </div>
                        </div>

                    </div>

                    <div class="cust-card__body">


                        <div class="row">
                            <div class="col-md-12">
                                <div *ngIf="data?.clientSignature?.smileSatisfication == statisfaction.smile"
                                    class="img-container">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6">
                                            <img src="assets/app/imgs/frown_ns.png" title="acune-image"
                                                class="produit-image" />
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <img src="assets/app/imgs/meh_ns.png" title="acune-image"
                                                class="produit-image" />
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <img src="assets/app/imgs/smile.png" title="acune-image"
                                                class="produit-image" />
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="data?.clientSignature?.smileSatisfication == statisfaction.frown"
                                    class="img-container">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6">
                                            <img src="assets/app/imgs/frown.png" title="acune-image"
                                                class="produit-image" />
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <img src="assets/app/imgs/meh_ns.png" title="acune-image"
                                                class="produit-image" />
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <img src="assets/app/imgs/smile_ns.png" title="acune-image"
                                                class="produit-image" />
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="data?.clientSignature?.smileSatisfication == statisfaction.meh"
                                    class="img-container">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6">
                                            <img src="assets/app/imgs/frown_ns.png" title="acune-image"
                                                class="produit-image" />
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <img src="assets/app/imgs/meh.png" title="acune-image"
                                                class="produit-image" />
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <img src="assets/app/imgs/smile_ns.png" title="acune-image"
                                                class="produit-image" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="root" *ngIf="data && isEquipement()">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                {{'LABELS.RELATED_DOCUMENT' | translate}}
                            </div>
                        </div>

                    </div>

                    <div class="cust-card__body">

                        <div class="row">
                            <a [routerLink]="[ '/contratentretiens/detail', data?.maintenanceContractId ]">
                                <h5 style="color: #2c445a;"> {{ 'LABELS.contratAssocie' | translate }} <i
                                        class="ft-eye">
                                    </i></h5>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="root" *ngIf="data && isFicheIntervention() && data?.associatedDocuments?.length !== 0 ">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                {{'LABELS.RELATED_DOCUMENT' | translate}}
                            </div>
                        </div>

                    </div>

                    <div class="cust-card__body">

                        <ng-container *ngIf="data?.associatedDocuments?.length > 0">

                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>{{ 'LABELS.TYPE' | translate }}</th>
                                            <th>{{ 'LABELS.REFERENCE' | translate }}</th>
                                            <th>{{ 'LABELS.DATE_CREATION' | translate }}</th>
                                            <th>{{ 'LABELS.STATUS' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of data?.associatedDocuments; let index = index"
                                            style="background-color: white;" (click)="goToDetails(index)">
                                            <td>{{getDocument(item)}} </td>
                                            <td>{{item?.reference}}</td>
                                            <td>{{item?.creationDate | date:'dd/MM/yyyy'}}</td>
                                            <td> <span
                                                    [style.color]="getColor(item?.status)">{{item?.status | translate }}</span>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </ng-container>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="root" *ngIf="data && isdemandedevis()">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                {{'LABELS.demandedevis' | translate}}
                            </div>
                        </div>

                    </div>

                    <div class="cust-card__body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-md-1 label-control"
                                        for="rapport">{{'LABELS.devisetablir' | translate}}</label>
                                    <div class="col-md-11">
                                        <div class="richTextArea"
                                            style="width: 95.5%;float: right;border: 1px solid #ccd6e6;"
                                            [innerHTML]="data?.quoteRequest"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<custom-loader [displayLoader]="processing"></custom-loader>