@import "./../../../assets/scss/core/mixins/scrollbar";

.right {
  .cust-input-group:not(:last-of-type) {
    margin-right: 20px;
  }
}

.cust-input--select {
  .cust-input__input {
    margin-right: 30px;
  }
}

.input-cursor {
  .cust-input__wrapper {
    cursor: pointer;
  }
}

.cust-card {
  &__body {
    padding: 0;
  }

  .prest-table-wrapper {
    @include scrollbar;

    overflow: auto;
    width: 100%;
  }

  .calcul-table-wrapper {
    background-color: #f1f3f9;
    padding: 0;
  }
}

.nested-table {
  > td {
    padding: 0 !important;

    table {
      width: 100%;

      .dot-wrapper {
        display: flex;
        align-items: center;

        .dot {
          display: block;

          background-color: #8b8b8b;
          border-radius: 50%;

          margin-left: 4px;
          margin-right: 8px;

          height: 7px;
          min-width: 7px;
        }
      }
    }
  }
}

.prest-table {
  width: 100%;

  .cell-right {
    text-align: right;
  }

  .cell-black {
    span {
      color: #303030;
    }
  }

  .cell-green {
    span {
      color: #38b475;
    }
  }

  .cell-auto {
    width: 100% !important;
    white-space: pre-wrap !important;
  }

  .cell-no-padding {
    padding-left: 0 !important;
  }

  .actions {
    display: flex;
    justify-content: flex-end;

    width: auto !important;

    & > div {
      cursor: pointer;
      opacity: 0.8;

      transition-duration: 0.2s;
      transition-property: opacity;

      &:hover {
        opacity: 1;
      }

      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }

  thead {
    tr {
      background-color: #f1f3f9;

      th {
        padding: 12px 20px;

        width: 1%;
        white-space: nowrap;

        span {
          color: #6f7e84;
          font-weight: 100;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        width: 1%;
        white-space: nowrap;

        color: #6f7e84;
        font-family: Qanelas;
        font-size: 13px;

        padding: 12px 20px;

        input {
          background-color: #f7fafc;
          color: #949fa5;

          border: none;
          border-radius: 5px;

          padding: 8px;

          &:not(:last-of-type) {
            margin-right: 10px;
          }

          &:focus {
            outline-color: #a0a0a0;
          }

          &.input--small {
            max-width: 100px;
          }
        }

        &:first-of-type img {
          cursor: pointer;
          display: block;

          margin: auto;
        }
      }

      &:nth-of-type(even) {
        background-color: #f7fafc;

        input {
          background-color: white !important;
        }
      }
    }
  }
}

.calcul-table {
  width: 100%;

  .remise-type-select {
    width: 40px;
  }

  .flex-div {
    display: flex;
    align-items: center;

    input {
      background-color: #f7fafc;
      color: #949fa5;

      border: none;
      border-radius: 5px;

      padding: 8px;
      max-width: 55px;

      &:not(:last-of-type) {
        margin-right: 10px;
      }

      &:focus {
        outline-color: #a0a0a0;
      }
    }
  }

  tr {
    &:not(:last-of-type) {
      position: relative;
      border-bottom: 1px solid #e2e2e2;
    }
  }

  td {
    padding: 12px 20px;

    span {
      color: #6f7e84;

      font-family: Qanelas;
      font-size: 14px;
      font-weight: 100;
    }

    &:last-of-type {
      text-align: right;

      span {
        color: #363636;
        font-weight: bold;
      }

      .flex-div {
        justify-content: flex-end;
      }
    }
  }
}

.prest-detail {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);

  padding: 15px;
  pointer-events: none;

  position: fixed;
  left: 50%;
  top: 50%;

  transition-duration: 0.2s;
  transition-property: left top;
}

.info-bundle {
  display: inline-flex;
  flex-direction: column;

  margin-left: auto;

  .label {
    font-family: raleway;
    font-size: 12px;
    letter-spacing: 0px;
    text-align: left;

    white-space: nowrap;

    color: #8898aa;
  }

  .value {
    font-family: qanelas;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0px;

    white-space: nowrap;

    color: #8d9cad;

    &--positive {
      color: #38b475;
    }

    &--negative {
      color: #f53c56;
    }

    &--constant {
      color: #05658d;
    }

    &--small {
      color: #313131;
      font-size: 14px;
      font-weight: 200;

      margin-bottom: 5px;
    }

    small {
      font-size: 13px;
      font-weight: bold;

      margin-left: -4px;
    }
  }
}
