<div class="modal-header">
  <h4 class="modal-title"><i class="fa fa-list"></i> {{ title | translate }}</h4>
</div>

<div class="modal-body custom-modal-padding">

  <div class="input-group">

    <!-- search icon -->
    <div class="input-group-prepend">
      <button class="btn btn-primary" type="button"><i class="ft-search"></i></button>
    </div>

    <!-- search input -->
    <input type="text" class="form-control" [formControl]="searchControl" [placeholder]="'labels.search' | translate">

  </div>

  <div class="text-center" *ngIf="contracts.length == 0">
    <br>
    {{ 'select-contract.emptySelectContract' | translate }}
  </div>

  <!-- List contract -->
  <div class="container-scroll" *ngIf="contracts.length > 0">

    <ul class="list-group list-group-flush">

      <li class="list-group-item" *ngFor="let contract of contracts;let i = index">

        <div class="form-inline">

          <!-- info contract -->
          <div class="form-group col-md-9">
            <div class="custom-control custom-checkbox">
              <input 
                type="checkbox" 
                [(ngModel)]="contract['checked']"
                (change)="changeChecked(i)" 
                class="custom-control-input" 
                id="{{i+2000*27}}">
              <label class="custom-control-label" for="{{i+2000*27}}">
                {{ contract?.title}}
              </label>
            </div>
          </div>
          
          <!-- date -->
          <div class="col-md-3" style="text-align: right;">
            <span class="badge badge-primary badge-pill">
              {{ contract?.createdOn | date:'shortDate' }}
            </span>
          </div>

        </div>

      </li>

    </ul>

  </div>

</div>

<div class="modal-footer">

  <button 
    type="button" 
    class="btn btn-secondary" 
    data-dismiss="modal" 
    placement="top"
    (click)="modal.dismiss()"
    [ngbTooltip]="'labels.close' | translate">
    {{ 'labels.close' | translate }}
  </button>

  <button 
    type="button" 
    class="btn btn-primary" 
    (click)="save()"
    [ngbTooltip]="'labels.sauvegarder' | translate">
    {{ 'labels.sauvegarder' | translate }}
  </button>

</div>