<div class="axiobat-modal">
  <div class="root">

    <!-- #region Head -->
    <div class="head">

      <div class="left">
        <div class="title">
          {{ 'labels.listProduit' | translate }}
        </div>
      </div>

      <div class="right">
        <div id="annuler" class="cust-button cust-button--secondary" (click)="close()">
          <span>{{ 'labels.btnCancel' | translate }}</span>
        </div>

        <div id="valider" class="cust-button cust-button--success" (click)="saveArticle()">
          <span>{{ 'labels.sauvegarder' | translate }}</span>
        </div>
      </div>

      <div class="close" (click)="close()">
        <img src="./assets/app/images/Icons/x.svg" alt="Close button">
      </div>
    </div>
    <!-- #endregion -->

    <!-- #region Body -->
    <div class="body">
      <!-- <div class="input-group">
        <div class="input-group-prepend">
          <button class="btn btn-primary" type="button"><i class="ft-search"></i></button>
        </div>
        <input type="text" [(ngModel)]="search" (input)="searchArticle()" class="form-control">
      </div> -->
      <div class="cust-input cust-input--search">
        <label class="cust-input__wrapper">
          <div class="cust-input__icon">
            <img src="./assets/app/images/Icons/search.svg" alt="Search icon">
          </div>
          <input class="cust-input__input" type="search" [placeholder]="getPlaceholder()" [(ngModel)]="search"
            (input)="searchArticle()">
        </label>
      </div>
      <br>
      <div class="text-center font-weight-bold font-italic"
        *ngIf="articlesBc?.length == 0 &&  articlesDepanseSelected?.length == 0">
        <br>
        {{ 'produitGroupe.empty' | translate }}
      </div>
      <div class="container-scroll" *ngIf="articlesDepanseSelected?.length > 0 || articlesBc?.length > 0">

        <div>

          <ul class="list-group list-group-flush">

            <!-- Liste des ft sélectionnés -->
            <li class="list-group-item" *ngFor="let bcFournisseur of articlesDepanseSelected;let i = index">
              <div class="form-inline">
                <div class="form-group col-md-12">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" (change)="removeArticle(i)" class="custom-control-input" id="{{i+1000*301}}"
                      checked>
                    <label class="custom-control-label" for="{{i+1000*301}}" style="font-weight: bold;">
                      {{ 'labels.nomProduit' | translate }} : {{ bcFournisseur?.product.designation}}
                    </label>
                  </div>
                </div>
              </div>
            </li>

            <!-- Liste des ft ne sont pas sélectionnés -->
            <li class="list-group-item" *ngFor="let bcFournisseur of articlesBc;let i = index">
              <div class="form-inline">
                <div class="form-group col-md-12">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" (change)="addArticle(i)" class="custom-control-input" id="{{i+1000*500}}">
                    <label class="custom-control-label" for="{{i+1000*500}}" style="font-weight: bold;">
                      {{ 'labels.nomProduit' | translate }} : {{ bcFournisseur?.product.designation}}
                      <!-- {{ 'labels.dateCreation' | translate }} :
                      {{ bcFournisseur?.dateCreation | date:'dd/MM/yyyy HH:mm' }} -->
                    </label>
                  </div>
                </div>
              </div>
            </li>

          </ul>

        </div>

        <!-- <div class="text-center" *ngIf="!finished">
          {{ 'labels.loading' | translate }}
        </div> -->

      </div>
    </div>
    <!-- #endregion -->
  </div>
</div>