<recherche-avancee>
  <div class="recherche-avancee-body">

    <div class="ui-g ui-fluid" *ngIf="dateLang">
      <div class="ui-g-6 ui-md-4">
        <h6 style="font-weight: bold">{{'list.client' | translate }}</h6>
        <ng-select [hideSelected]="true" bindLabel="name" placeholder="{{'list.client' | translate }}"
          notFoundText="{{'labels.noFoundItem' | translate}}" [(ngModel)]="idClient" (click)="getClients()"
          #selecteClients [multiple]="true" [items]="filterlistClient" bindLabel="name" bindValue="id">
          <!-- <ng-option *ngFor="let item of listClients" [value]="item?.id">
            {{ item?.nom }}</ng-option> -->
        </ng-select>
      </div>
      <div class="ui-g-6 ui-md-4">
        <h6 style="font-weight: bold">{{'list.article' | translate }}</h6>
        <ng-select style=" max-width: 500px !important;" placeholder="{{'list.article' | translate }}"
          (click)="getProduits()" #selecteProduits notFoundText="{{'labels.noFoundItem' | translate}}"
          [items]="filterlistProduit" bindLabel="name" bindValue="id" [multiple]="true" [(ngModel)]="idProduit">
        </ng-select>
      </div>
      <div class="ui-g-6 ui-md-4">
        <h6 style="font-weight: bold">{{'labels.choisirPeriode' | translate }}</h6>
        <ng-select [hideSelected]="true" bindLabel="name" notFoundText="{{'labels.noFoundItem' | translate}}"
          [(ngModel)]="periode">
          <ng-option [value]="periodeEnum.CurrentMonth">{{ 'labels.moisCourant' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.LastThreeMonths">{{ 'labels.troisMois' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.LastSixMonths">{{ 'labels.sixMois' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.CurrentYear">{{ 'labels.anneeCourant' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.LastYear">{{ 'labels.anneeDerniere' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.CurrentAccountingPeriod">
            {{ 'labels.exerciceComptableCourant' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.None">{{ 'labels.tous' | translate }} </ng-option>
          <ng-option [value]="periodeEnum.Interval">{{ 'labels.intervalle' | translate }}</ng-option>
        </ng-select>
      </div>

      <ng-container *ngIf="periode == periodeEnum.Interval">
        <div class="ui-g-6 ui-md-4">
          <h6 style="font-weight: bold">{{ 'labels.dateMinimale' | translate }}</h6>
          <p-calendar [(ngModel)]="dateMinimal" [inputStyle]="{'height':'33px'}" [locale]="dateLang"
            showButtonBar="true" dateFormat="dd/mm/yy" showIcon="true"></p-calendar>
        </div>

        <div class="ui-g-6 ui-md-4">
          <h6 style="font-weight: bold">{{ 'labels.dateMaximale' | translate }}</h6>
          <p-calendar [(ngModel)]="dateMaximal" [inputStyle]="{'height':'33px'}" [locale]="dateLang"
            showButtonBar="true" dateFormat="dd/mm/yy" showIcon="true"></p-calendar>
        </div>
      </ng-container>

    </div>

    <div class="ui-g ui-fluid pull-right btn-search" *ngIf="dateLang">
      <button class="btn btn-success" (click)="filter()">
        <i class="ft-search"></i>&nbsp;{{ 'labels.filter' | translate }}
      </button>
    </div>

  </div>
</recherche-avancee>



<div class="row mt-5">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="card-header card-header-pink">
        <h4 class="card-title">{{'labels.evolutionmensuelleCA' | translate}} </h4>
        <p class="card-category">évolution mensuelle CA</p>
      </div>
      <div class="c-card-body">

        <canvas #baseChart>
        </canvas>

      </div>
    </div>
  </div>
  <div class=" col-lg-6 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="card-header card-header-greencolor">
        <h4 class="card-title">{{'labels.evolutionmensuelleMarge' | translate}}</h4>
        <p class="card-category">évolution mensuelle de la marge</p>
      </div>
      <div class="c-card-body">
        <canvas #baseChartMarge>

        </canvas>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="card-header card-header-warning">
        <h4 class="card-title">{{'labels.top10CAClient' | translate}} </h4>
        <p class="card-category">Liste des clients et chiffre d'affaire </p>
      </div>
      <div class="c-card-body">
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <thead class="text-purple">
              <tr>
                <th class="text-purple">N°</th>
                <th class="text-purple" style=" text-align: left ;">{{'labels.nom' | translate}}</th>
                <th class="text-purple" style=" text-align: right ;     padding-right: 31px;">
                  {{'labels.chiffreaffaire' | translate}}</th>
              </tr>
            </thead>
            <ng-container *ngFor="let client of top10CAClient ;let i = index">
              <tbody>
                <tr>
                  <td>{{i+1}}</td>
                  <td style=" text-align: left ;">{{client?.name}}</td>
                  <td style="font-size: 1.1rem; text-align: right;">{{ client?.total  | RoudingNumber | ShowCurrency }}
                  </td>
                </tr>
              </tbody>
            </ng-container>

          </table>
        </div>

      </div>
    </div>
  </div>
  <div class=" col-lg-6 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="card-header card-header-main">
        <h4 class="card-title">{{'labels.objectifsCAMensuelle' | translate}}</h4>
        <p class="card-category">Le graphe présenté le pourcentage de chiffre d'affaire par rapport de l'objectif pour
          chaque mois</p>
      </div>
      <div class="c-card-body">
        <div class="card-body table-responsive">

          <div class="row" style="padding-bottom: 20px;">
            <div class="col-4"></div>
            <div class="col-8">
              <div class="row">

                <div class="col-6 text-right"> {{'labels.objectifsCAAnnuelle' | translate}} : </div>
                <div class="col-6 text-right"> <span style="font-size: 20px; text-align: right;">{{caAnnuelle}} %</span>
                </div>
              </div>

            </div>

          </div>
          <!-- lineChart      -->
          <canvas #lineChart>

          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="card-header card-header-blue">
        <h4 class="card-title">{{'labels.top10CAparArticle' | translate}} </h4>
        <p class="card-category">Liste des articles et chiffre d'affaire</p>
      </div>
      <div class="c-card-body">
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <thead class="text-blue">
              <tr>
                <th class="text-blue">N°</th>
                <th class="text-blue" style=" text-align: left ;">{{'labels.nom' | translate}}</th>
                <th class="text-blue" style=" text-align: right ;     padding-right: 31px;">
                  {{'labels.chiffreaffaire' | translate}}</th>
              </tr>
            </thead>
            <ng-container *ngFor="let article of top10CAparArticle ;let i = index">
              <tbody>
                <tr>
                  <td>{{i+1}}</td>
                  <td style=" text-align: left ;">{{article?.name}}</td>
                  <td style="font-size: 1.1rem; text-align: right;">{{ article?.totalOrders   | RoudingNumber | ShowCurrency }}
                  </td>
                </tr>
              </tbody>
            </ng-container>

          </table>
        </div>

      </div>
    </div>
  </div>
  <div class=" col-lg-6 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="card-header card-header-red">
        <h4 class="card-title">{{'labels.top10CAparLabel' | translate}}</h4>
        <p class="card-category">Liste des labels et chiffre d'affaire</p>
      </div>
      <div class="c-card-body">
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <thead class="text-red">
              <tr>
                <th class="text-red">N°</th>
                <th class="text-red" style=" text-align: left ;">{{'labels.nom' | translate}}</th>
                <th class="text-red" style=" text-align: right ;">{{'labels.chiffreaffaire' | translate}}</th>
              </tr>
            </thead>
            <ng-container *ngFor="let label of top10CAparLabel ;let i = index">
              <tbody>
                <tr>
                  <td>{{i+1}}</td>
                  <td style=" text-align: left ;">{{label?.name}}</td>
                  <td style="font-size: 1.1rem; text-align: right;"> {{ label?.total  | RoudingNumber | ShowCurrency }}
                  </td>
                </tr>
              </tbody>
            </ng-container>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row mt-3">
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="c-card-body">
        <div class="item-group">
          <div class="header-marge">
            <div class="icon-container icon-green">
              <i class="fa fa-flag-checkered"></i>
            </div>
            <div class="item-title">
              <div class="text-left " style="padding-left: 93px; font-size: 20px;">
                {{'labels.nbrdevis' | translate}}
              </div>
              <div class="text-right" style="padding-top: 25px;">
                <span class="value">{{nbrDevisParStatut}}</span>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex align-items-center justify-content-between">

            <div class="row">
              <div class="col-4"> {{'labels.accepte' | translate}}</div>
              <div class="col-8 text-right">
                <span style="font-size: 20px;">{{nbrDevisAccepte}} </span>
              </div>

            </div>
            <div class="row">
              <div class="col-4">{{'labels.enattente' | translate}}</div>
              <div class="col-8 text-right">
                <span style="font-size: 20px;">{{nbrDevisEnAttente }}</span>
              </div>

            </div>
            <div class="row">
              <div class="col-4">{{'labels.facture' | translate}}</div>
              <div class="col-8 text-right">
                <span style="font-size: 20px;">{{nbrDevisTermine}}</span>
              </div>

            </div>

            <div class="row">
              <div class="col-4">{{'labels.refuse' | translate}}</div>
              <div class="col-8 text-right">
                <span style="font-size: 20px;">{{nbrDevisRefuse}}</span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="c-card-body">
        <div class="item-group">
          <div class="header-marge">
            <div class="icon-container icon-pink">
              <i class="fa fa-credit-card"></i>
            </div>
            <div class="item-title">
              <div class="text-left" style="padding-left: 93px;font-size: 20px;">
                {{'labels.chiffreaffairedevis' | translate}}
              </div>
              <div class="text-right" style="padding-top: 25px;">
                <span class="value">{{totlDevisParStatut | RoudingNumber}} €</span>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex align-items-center justify-content-between">
            <div class="row">
              <div class="col-4">{{'labels.accepte' | translate}}</div>
              <div class="col-8 text-right">
                <span style="font-size: 20px;">{{totalDevisAccepte | RoudingNumber}} €</span>
              </div>

            </div>
            <div class="row">
              <div class="col-4">{{'labels.enattente' | translate}}</div>
              <div class="col-8 text-right">
                <span style="font-size: 20px;">{{totalDevisEnAttente | RoudingNumber}} €</span>
              </div>

            </div>

            <div class="row">
              <div class="col-4">{{'labels.facture' | translate}}</div>
              <div class="col-8 text-right">
                <span class="value" style="font-size: 20px;">{{totalDevisTermine | RoudingNumber}} €</span>
              </div>

            </div>


            <div class="row">
              <div class="col-4">{{'labels.refuse' | translate}}</div>
              <div class="col-8 text-right">
                <span class="value" style="font-size: 20px;">{{totalDevisRefuse | RoudingNumber}} €</span>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="c-card-body">
        <div class="item-group">
          <div class="header-marge">
            <div class="icon-container icon-blue">
              <i class="fa fa-money"></i>
            </div>
            <div class="item-title">
              <div class="text-left" style="padding-left: 93px;font-size: 20px;">
                {{'labels.tauxDevis' | translate}}
              </div>
              <div class="text-right" style="padding-top: 25px;">
                <span class="value">{{tauxDevis | RoudingNumber}} %</span>
              </div>
            </div>

          </div>
          <!-- <div class="card-footer d-flex align-items-center justify-content-between">
            <p>Plus Details</p>

          </div> -->
          <div *ngIf="devisDetails?.length != 0" class="card-footer d-flex align-items-center justify-content-between">
            <p><a (click)="LoadListDevis()"> Plus Details</a></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>