<div class="axiobat-modal">
  <div class="root">

    <!-- #region Head -->
    <div class="head">

      <div class="left">
        <div class="title"> Ajouter client </div>
      </div>

      <div class="right">
        <div id="annuler" class="cust-button cust-button--secondary" (click)="close()">
          <span>{{ 'labels.btnCancel' | translate }}</span>
        </div>

        <div id="valider" class="cust-button cust-button--success" (click)="submit()">
          <span>Valider</span>
        </div>
      </div>

      <div class="close" (click)="close()">
        <img src="./assets/app/images/Icons/x.svg" alt="Close button">
      </div>
    </div>
    <!-- #endregion -->

    <!-- #region Body -->
    <div class="body">
      <form [formGroup]="form">
        <div class="row">

          <div class="col">
            <div class="cust-input-group">
              <div class="cust-label">
                {{ isClient() ? ( 'labels.code' | translate ) : ('labels.reference'  | translate) }} :</div>
              <div class="cust-input">
                <label class="cust-input__wrapper">
                  <input class="cust-input__input" id="add-nom-reference-form-btn" type="text"
                    formControlName="reference">
                </label>
              </div>
              <small class="text-danger"
                *ngIf="f?.code?.hasError('CheckUniquecode')">{{'errors.unique' | translate }}</small>
              <small class="text-danger" *ngIf="f?.code?.errors?.required">{{'errors.required' | translate }}</small>
            </div>
          </div>

          <div class="col">
            <div class="cust-input-group">
              <div class="cust-label">{{ 'labels.nom' | translate }} :</div>
              <div class="cust-input">
                <label class="cust-input__wrapper">
                  <input type="text" (input)="generateCodeComptable()" formControlName="firstName"
                    class="cust-input__input" id="add-firstName-add-client-btn"
                    placeholder="{{ 'labels.nom' | translate }}">

                </label>
              </div>
              <small class="text-danger"
                *ngIf="f?.firstName?.errors?.required">{{'errors.required' | translate }}</small>
              <small class="text-danger"
                *ngIf="f?.firstName?.errors?.minlength">{{'errors.minLength' | translate:{number:2} }}</small>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col" *ngIf="isClient()">
            <div class="cust-input-group">
              <div class="cust-label">{{ 'labels.typeClient' | translate }} :</div>
              <div class="cust-input cust-input--select">
                <label class="cust-input__wrapper">
                  <mat-select formControlName="type" id="add-type-add-client-btn">
                    <mat-option [value]="clientType.Particular">Particulier</mat-option>
                    <mat-option [value]="clientType.Professional">Porfessionnel</mat-option>
                  </mat-select>
                </label>
              </div>
              <small class="text-danger" *ngIf="f?.type?.errors?.required">{{'errors.required' | translate }}</small>
            </div>
          </div>

          <div class="col" *ngIf="f?.type.value != clientType.Particular">
            <div class="cust-input-group">
              <div class="cust-label">{{ 'labels.groupe' | translate }} :</div>
              <div class="cust-input cust-input--select">
                <label class="cust-input__wrapper">
                  <mat-select formControlName="groupeId" id="add-groupeId-add-client-btn" (click)="getGroupes()">
                    <mat-option *ngFor="let item of groupes;let i = index" value="{{item.id}}">{{item.name}}
                    </mat-option>
                  </mat-select>
                </label>
              </div>
              <small class="text-danger" *ngIf="f?.type?.errors?.required">{{'errors.required' | translate }}</small>
            </div>
          </div>

          <div class="col" *ngIf="f?.type.value == clientType.Particular && isClient()">
            <div class="cust-input-group">
              <div class="cust-label">{{ 'labels.prenom' | translate }} :</div>
              <div class="cust-input">
                <label class="cust-input__wrapper">
                  <input type="text" (input)="generateCodeComptable()" formControlName="lastName"
                    class="cust-input__input" id="add-lastName-add-client-btn"
                    placeholder="{{ 'labels.prenom' | translate }}">
                </label>
              </div>
              <small class="text-danger"
                *ngIf="f?.lastName?.errors?.required">{{'errors.required' | translate }}</small>
              <small class="text-danger"
                *ngIf="f?.lastName?.errors?.minlength">{{'errors.minLength' | translate:{number:2} }}</small>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col">
            <div class="cust-input-group">
              <div class="cust-label">{{ 'labels.email' | translate }} :</div>
              <div class="cust-input">
                <label class="cust-input__wrapper">
                  <input type="email" formControlName="email" class="cust-input__input" id="add-email-add-client-btn"
                    placeholder="{{ 'labels.email' | translate }}">
                </label>
              </div>
              <small class="text-danger" *ngIf="f?.email?.errors?.pattern">
                {{'errors.pattern' | translate}}
              </small>
            </div>
          </div>


          <div class="col">
            <div class="cust-input-group">
              <div class="cust-label">{{ 'labels.telephone' | translate }} :</div>
              <div class="cust-input">
                <label class="cust-input__wrapper">
                  <input type="text" formControlName="phoneNumber" class="cust-input__input"
                    id="add-telephone-add-client-btn" placeholder="{{ 'labels.telephone' | translate }}">
                </label>
              </div>
              <small class="text-danger"
                *ngIf="f?.phoneNumber?.errors?.minlength">{{'errors.minLength' | translate:{number:10} }}</small><br>
              <small class="text-danger" *ngIf="f?.phoneNumber?.errors?.pattern">
                {{'errors.pattern' | translate}}
              </small>
            </div>
          </div>


        </div>

        <div class="row" *ngIf="f?.type.value != clientType.Particular || isFournisseur()">

          <div class="col">
            <div class="cust-input-group">
              <div class="cust-label">{{ 'labels.fax' | translate }} :</div>
              <div class="cust-input">
                <label class="cust-input__wrapper">
                  <input type="text" formControlName="fax" class="cust-input__input" id="add-fax-add-client-btn"
                    placeholder="{{ 'labels.fax' | translate }}">
                </label>
              </div>
              <small class="text-danger" *ngIf="f?.fax?.errors?.pattern">
                {{'errors.pattern' | translate}}
              </small>
            </div>
          </div>


          <div class="col">
            <div class="cust-input-group">
              <div class="cust-label">{{ 'labels.siret' | translate }} :</div>
              <div class="cust-input">
                <label class="cust-input__wrapper">
                  <input type="text" formControlName="siret" class="cust-input__input" id="add-siret-add-client-btn"
                    placeholder="{{ 'labels.siret' | translate }}">
                </label>
              </div>
            </div>
          </div>


        </div>

        <div class="row" *ngIf="f?.type.value != clientType.Particular || isFournisseur()">

          <div class="col">
            <div class="cust-input-group">
              <div class="cust-label">{{ 'labels.siteWeb' | translate }} :</div>
              <div class="cust-input">
                <label class="cust-input__wrapper">
                  <input type="text" formControlName="website" class="cust-input__input" id="add-siteWeb-add-client-btn"
                    placeholder="{{ 'labels.siteWeb' | translate }}">
                </label>
              </div>
              <small class="text-danger" *ngIf="f?.website?.errors?.pattern">
                {{'errors.pattern' | translate}}
              </small>
            </div>
          </div>

          <div class="col">
            <div class="cust-input-group">
              <div class="cust-label">{{ 'labels.tvaIntraCommunautaire' | translate }} :</div>
              <div class="cust-input">
                <label class="cust-input__wrapper">
                  <input type="text" formControlName="intraCommunityVAT" class="cust-input__input"
                    id="add-intraCommunityVAT-add-client-btn"
                    placeholder="{{ 'labels.tvaIntraCommunautaire' | translate }}">
                </label>
              </div>
            </div>
          </div>


        </div>

        <div class="row">

          <div class="col">
            <div class="cust-input-group">
              <div class="cust-label">{{ 'labels.codeComptable' | translate }} :</div>
              <div class="cust-input">
                <label class="cust-input__wrapper">
                  <input type="text" formControlName="accountingCode" class="cust-input__input"
                    id="add-accountingCode-add-client-btn" placeholder="{{ 'labels.codeComptable' | translate }}">
                </label>
              </div>
            </div>
          </div>

        </div>



        <div *ngIf="isClient()">

          <div class="cust-card__head">
            <div class="left">
              <div class="title">
                Adresses
              </div>
            </div>
          </div>

          <div class="cust-card__body">
            <list-address [addresses]="adresses" (remove)="removeAdresse($event)"
              (listContacts)="getListAdressesAAA($event)" [show]="true" [addModalId]="'addClientForm'"
              [editModalId]="'editClientForm'" [hideAddBtn]="adresses?.length == 1"></list-address>
          </div>


        </div>

        <div *ngIf="isFournisseur()">
          <div class="cust-card__head">

            <div class="left">
              <div class="title">
                Adresse
              </div>
            </div>

          </div>


          <div class="cust-card__body">
            <div class="body">



              <div class="row">

                <div class="col">
                  <div class="cust-input-group">
                    <div class="cust-label">
                      {{ 'LABELS.ADRESSE' | translate  }}
                      :</div>
                    <div class="cust-input">
                      <label class="cust-input__wrapper">
                        <input class="cust-input__input" id="add-street-form-btn" id="street" type="text"
                          formControlName="street">
                      </label>
                    </div>
                    <small class="text-danger"
                      *ngIf="f?.street?.errors?.required">{{'errors.required' | translate }}</small>
                  </div>
                </div>

                <div class="col">
                  <div class="cust-input-group">
                    <div class="cust-label">
                      {{ 'LABELS.Complement' | translate  }}
                      :</div>
                    <div class="cust-input">
                      <label class="cust-input__wrapper">
                        <input class="cust-input__input" id="add-complement-form-btn" id="complement" type="text"
                          formControlName="complement">
                      </label>
                    </div>

                  </div>
                </div>



              </div>

              <div class="row">

                <div class="col">
                  <div class="cust-input-group">
                    <div class="cust-label">
                      {{ 'LABELS.departement' | translate  }}
                      :</div>
                    <div class="cust-input">
                      <label class="cust-input__wrapper">
                        <input class="cust-input__input" id="add-departement-form-btn" id="departement" type="text"
                          formControlName="department">
                      </label>
                    </div>

                  </div>
                </div>

                <div class="col">
                  <div class="cust-input-group">
                    <div class="cust-label">
                      {{ 'LABELS.pays' | translate  }}
                      :</div>
                    <div class="cust-input">
                      <label class="cust-input__wrapper">
                        <input class="cust-input__input" id="add-countryCode-form-btn" id="countryCode" type="text"
                          formControlName="countryCode">
                      </label>
                    </div>

                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col">
                  <div class="cust-input-group">
                    <div class="cust-label">
                      {{ 'LABELS.codePostal' | translate  }}
                      :</div>
                    <div class="cust-input">
                      <label class="cust-input__wrapper">
                        <input class="cust-input__input" id="add-postalCode-form-btn" id="postalCode" type="text"
                          formControlName="postalCode">
                      </label>
                    </div>
                    <small class="text-danger"
                      *ngIf="f?.postalCode?.errors?.invalidNumber">{{'labels.invalidNumber' | translate}}</small>
                    <small class="text-danger" *ngIf="f?.postalCode?.errors?.required">{{'errors.required' | translate
                                        }}</small>

                  </div>
                </div>

                <div class="col">
                  <div class="cust-input-group">
                    <div class="cust-label">
                      {{ 'LABELS.City' | translate  }}
                      :</div>
                    <div class="cust-input">
                      <label class="cust-input__wrapper">
                        <input class="cust-input__input" id="add-city-form-btn" id="city" type="text"
                          formControlName="city">
                      </label>
                    </div>
                    <small class="text-danger" *ngIf="f?.city?.errors?.required">{{'errors.required' | translate
                                        }}</small>
                  </div>
                </div>

              </div>

            </div>
          </div>

        </div>

        <div class="cust-card__head">

          <div class="left">
            <div class="title">
              Contacts
            </div>
          </div>

        </div>


        <div class="cust-card__body">
          <liste-contacts [contacts]="contacts" (remove)="removeContact($event)"
            (listContacts)="getListContacts($event)" [show]="true"></liste-contacts>
        </div>

      </form>
    </div>

    <!-- #endregion -->
  </div>
</div>