<div style="overflow-x:auto;">
  <table class="">
    <ng-container *ngFor="let visite of visitesMaintenances;let i=index">
      <tr>
        <td scope="row" colspan="13"
          style="text-align: center;font-weight: bold;background-color: #04B2D9;color: #FFF;">
          <span *ngIf="i==0">{{i+1}} {{'labels.ereannee' | translate}} {{visite.year}}</span>
          <span *ngIf="i!=0">{{i+1}} {{'labels.emeannee' | translate}} {{visite.year}}</span>

        </td>
      </tr>
      <tr style="text-align: center;background-color: #048ABF;color: #FFF;">
        <td style="text-align: left;">{{'labels.visiteMaintenance' | translate}}</td>
        <td>{{'labels.mois.janvier' | translate}}</td>
        <td>{{'labels.mois.fevrier' | translate}}</td>
        <td>{{'labels.mois.mars' | translate}}</td>
        <td>{{'labels.mois.avril' | translate}}</td>
        <td>{{'labels.mois.mai' | translate}}</td>
        <td>{{'labels.mois.juin' | translate}}</td>
        <td>{{'labels.mois.juillet' | translate}}</td>
        <td>{{'labels.mois.aout' | translate}}</td>
        <td>{{'labels.mois.septembre' | translate}}</td>
        <td>{{'labels.mois.octobre' | translate}}</td>
        <td>{{'labels.mois.novembre' | translate}}</td>
        <td>{{'labels.mois.decembre' | translate}}</td>

      </tr>
      <tr style="text-align: center;background-color: #DCEAF2;color: #0b1721;height: 30px;">
        <td scope="row" style="text-align: left;">{{'labels.statut' | translate}}</td>
        <td>
          <span>
            <ng-container *ngIf="getStatutByMonth(visite?.visitesMaintenances,moisEnum.January)!=null">

              <div class="btn-group btn-actions-custom">
                <span class="iconEye"> <i class="ft-eye"
                    (click)="voirDetails(visite?.visitesMaintenances,moisEnum.January)" placement="bottom"
                    ngbTooltip="{{ 'toolip.detailvisite' | translate }}"></i></span>

                <button type="button"
                  class="btn btn-secondary">{{getStatutByMonth(visite?.visitesMaintenances,moisEnum.January)}}</button>
              </div>
            </ng-container>

          </span>
        </td>
        <td>

          <span>
            <ng-container *ngIf="getStatutByMonth(visite?.visitesMaintenances,moisEnum.February)!=null">

              <div class="btn-group btn-actions-custom">
                <span class="iconEye"> <i class="ft-eye"
                    (click)="voirDetails(visite?.visitesMaintenances,moisEnum.February)" placement="bottom"
                    ngbTooltip="{{ 'toolip.detailvisite' | translate }}"></i></span>
                <button type="button"
                  class="btn btn-secondary">{{getStatutByMonth(visite?.visitesMaintenances,moisEnum.February)}}</button>
              </div>
            </ng-container>

          </span>
        </td>
        <td>

          <span>
            <ng-container *ngIf="getStatutByMonth(visite?.visitesMaintenances,moisEnum.March)!=null">

              <div class="btn-group btn-actions-custom">
                <span class="iconEye"> <i class="ft-eye"
                    (click)="voirDetails(visite?.visitesMaintenances,moisEnum.March)" placement="bottom"
                    ngbTooltip="{{ 'toolip.detailvisite' | translate }}"></i></span>
                <button type="button"
                  class="btn btn-secondary">{{getStatutByMonth(visite?.visitesMaintenances,moisEnum.March)}}</button>
              </div>
            </ng-container>

          </span>
        </td>
        <td>

          <span>
            <ng-container *ngIf="getStatutByMonth(visite?.visitesMaintenances,moisEnum.April)!=null">

              <div class="btn-group btn-actions-custom">
                <span class="iconEye"> <i class="ft-eye"
                    (click)="voirDetails(visite?.visitesMaintenances,moisEnum.April)" placement="bottom"
                    ngbTooltip="{{ 'toolip.detailvisite' | translate }}"></i></span>
                <button type="button"
                  class="btn btn-secondary">{{getStatutByMonth(visite?.visitesMaintenances,moisEnum.April)}}</button>
              </div>
            </ng-container>

          </span>
        </td>
        <td>

          <span>
            <ng-container *ngIf="getStatutByMonth(visite?.visitesMaintenances,moisEnum.May)!=null">

              <div class="btn-group btn-actions-custom">
                <span class="iconEye"> <i class="ft-eye" (click)="voirDetails(visite?.visitesMaintenances,moisEnum.May)"
                    placement="bottom" ngbTooltip="{{ 'toolip.detailvisite' | translate }}"></i></span>
                <button type="button"
                  class="btn btn-secondary">{{getStatutByMonth(visite?.visitesMaintenances,moisEnum.May)}}</button>
              </div>
            </ng-container>

          </span>
        </td>
        <td>
          <span>
            <ng-container *ngIf="getStatutByMonth(visite?.visitesMaintenances,moisEnum.June)!=null">

              <div class="btn-group btn-actions-custom">
                <span class="iconEye"> <i class="ft-eye"
                    (click)="voirDetails(visite?.visitesMaintenances,moisEnum.June)" placement="bottom"
                    ngbTooltip="{{ 'toolip.detailvisite' | translate }}"></i></span>
                <button type="button"
                  class="btn btn-secondary">{{getStatutByMonth(visite?.visitesMaintenances,moisEnum.June)}}</button>
              </div>
            </ng-container>

          </span>
        </td>
        <td>

          <span>
            <ng-container *ngIf="getStatutByMonth(visite?.visitesMaintenances,moisEnum.July)!=null">

              <div class="btn-group btn-actions-custom">
                <span class="iconEye"> <i class="ft-eye"
                    (click)="voirDetails(visite?.visitesMaintenances,moisEnum.July)" placement="bottom"
                    ngbTooltip="{{ 'toolip.detailvisite' | translate }}"></i></span>
                <button type="button"
                  class="btn btn-secondary">{{getStatutByMonth(visite?.visitesMaintenances,moisEnum.July)}}</button>

              </div>
            </ng-container>

          </span>
        </td>
        <td>

          <span>
            <ng-container *ngIf="getStatutByMonth(visite?.visitesMaintenances,moisEnum.August)!=null">

              <div class="btn-group btn-actions-custom">
                <span class="iconEye"> <i class="ft-eye"
                    (click)="voirDetails(visite?.visitesMaintenances,moisEnum.August)" placement="bottom"
                    ngbTooltip="{{ 'toolip.detailvisite' | translate }}"></i></span>
                <button type="button"
                  class="btn btn-secondary">{{getStatutByMonth(visite?.visitesMaintenances,moisEnum.August)}}</button>

              </div>
            </ng-container>

          </span>
        </td>
        <td>

          <span>
            <ng-container *ngIf="getStatutByMonth(visite?.visitesMaintenances,moisEnum.September)!=null">

              <div class="btn-group btn-actions-custom">
                <span class="iconEye"> <i class="ft-eye"
                    (click)="voirDetails(visite?.visitesMaintenances,moisEnum.September)" placement="bottom"
                    ngbTooltip="{{ 'toolip.detailvisite' | translate }}"></i></span>
                <button type="button"
                  class="btn btn-secondary">{{getStatutByMonth(visite?.visitesMaintenances,moisEnum.September)}}</button>

              </div>
            </ng-container>

          </span>
        </td>
        <td>

          <span>
            <ng-container *ngIf="getStatutByMonth(visite?.visitesMaintenances,moisEnum.October)!=null">

              <div class="btn-group btn-actions-custom">
                <span class="iconEye"> <i class="ft-eye"
                    (click)="voirDetails(visite?.visitesMaintenances,moisEnum.October)" placement="bottom"
                    ngbTooltip="{{ 'toolip.detailvisite' | translate }}"></i></span>
                <button type="button"
                  class="btn btn-secondary">{{getStatutByMonth(visite?.visitesMaintenances,moisEnum.October)}}</button>


              </div>
            </ng-container>

          </span>
        </td>
        <td>

          <span>
            <ng-container *ngIf="getStatutByMonth(visite?.visitesMaintenances,moisEnum.November)!=null">

              <div class="btn-group btn-actions-custom">
                <span class="iconEye"> <i class="ft-eye"
                    (click)="voirDetails(visite?.visitesMaintenances,moisEnum.November)" placement="bottom"
                    ngbTooltip="{{ 'toolip.detailvisite' | translate }}"></i></span>

                <button type="button"
                  class="btn btn-secondary">{{getStatutByMonth(visite?.visitesMaintenances,moisEnum.November)}}</button>

              </div>
            </ng-container>

          </span>
        </td>
        <td>

          <span>
            <ng-container *ngIf="getStatutByMonth(visite?.visitesMaintenances,moisEnum.December)!=null">
              <div class=" btn-group btn-actions-custom">
                <span class="iconEye"> <i class="ft-eye"
                    (click)="voirDetails(visite?.visitesMaintenances,moisEnum.December)" placement="bottom"
                    ngbTooltip="{{ 'toolip.detailvisite' | translate }}"></i></span>

                <button type="button"
                  class="btn btn-secondary">{{getStatutByMonth(visite?.visitesMaintenances,moisEnum.December)}}</button>



              </div>


            </ng-container>

          </span>
        </td>

      </tr>
      <tr style="text-align: center;background-color: #DCEAF2; color:#0b1721;">
        <td scope="row" style="text-align: left;">{{'labels.nficheintervention'|translate}}</td>
        <td>{{getFicheInterventionByMonth(visite?.visitesMaintenances,moisEnum.January)}}</td>
        <td>{{getFicheInterventionByMonth(visite?.visitesMaintenances,moisEnum.February)}}</td>

        <td>{{getFicheInterventionByMonth(visite?.visitesMaintenances,moisEnum.March)}}</td>

        <td>{{getFicheInterventionByMonth(visite?.visitesMaintenances,moisEnum.April)}}</td>

        <td>{{getFicheInterventionByMonth(visite?.visitesMaintenances,moisEnum.May)}}</td>

        <td>{{getFicheInterventionByMonth(visite?.visitesMaintenances,moisEnum.June)}}</td>

        <td>{{getFicheInterventionByMonth(visite?.visitesMaintenances,moisEnum.July)}}</td>

        <td>{{getFicheInterventionByMonth(visite?.visitesMaintenances,moisEnum.August)}}</td>

        <td>{{getFicheInterventionByMonth(visite?.visitesMaintenances,moisEnum.September)}}</td>

        <td>{{getFicheInterventionByMonth(visite?.visitesMaintenances,moisEnum.October)}}</td>

        <td>{{getFicheInterventionByMonth(visite?.visitesMaintenances,moisEnum.November)}}</td>

        <td>{{getFicheInterventionByMonth(visite?.visitesMaintenances,moisEnum.December)}}</td>


      </tr>
      <tr style="text-align: center;background-color: #DCEAF2; color:#0b1721;">
        <td scope=" row" style="text-align: left;">{{'labels.nfacture'|translate}}</td>
        <td>{{getFactureByMonth(visite?.year,moisEnum.January)}}</td>
        <td>{{getFactureByMonth(visite?.year,moisEnum.February)}}</td>

        <td>{{getFactureByMonth(visite?.year,moisEnum.March)}}</td>

        <td>{{getFactureByMonth(visite?.year,moisEnum.April)}}</td>

        <td>{{getFactureByMonth(visite?.year,moisEnum.May)}}</td>

        <td>{{getFactureByMonth(visite?.year,moisEnum.June)}}</td>

        <td>{{getFactureByMonth(visite?.year,moisEnum.July)}}</td>

        <td>{{getFactureByMonth(visite?.year,moisEnum.August)}}</td>

        <td>{{getFactureByMonth(visite?.year,moisEnum.September)}}</td>

        <td>{{getFactureByMonth(visite?.year,moisEnum.October)}}</td>

        <td>{{getFactureByMonth(visite?.year,moisEnum.November)}}</td>

        <td>{{getFactureByMonth(visite?.year,moisEnum.December)}}</td>

      </tr>

    </ng-container>
  </table>
</div>

<!-- <div *ngFor="let item of visiteMaintenance; let i = index;">
  <div *ngIf="i > 0 && item.annee !== list[i-1].annee">{{item.annee}}</div>
</div> -->