#toast-container > div {
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}

#toast-container > div:hover {
  -webkit-box-shadow: -2px 2px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 2px 10px 0px rgba(0, 0, 0, 0.75);
}

.toast {
  background-color: #1b9db3;
}

.toast-success {
  background-color: #16d39a;
}

.toast-error {
  background-color: #ff7588;
}

.toast-info {
  background-color: #2dcee3;
}

.toast-warning {
  background-color: #ffa87d;
}
