<h1 mat-dialog-title class="modal-title">
    <ng-container *ngIf="!data.isIntervention">{{ 'labels.ajouter' | translate }} {{'labels.produit' | translate}}
    </ng-container>
    <ng-container *ngIf="data.isIntervention">{{ 'labels.ajouter' | translate }} {{'labels.prestations' | translate}}
    </ng-container>
</h1>

<mat-dialog-content>
    <div class="row">

        <div class="col-5" style="overflow: auto;height: 370px;border: none;">
            <div class="container-scroll">
                <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000"
                    [infiniteScrollContainer]="'.container-scroll'" [fromRoot]="true" (scrolled)="onScroll()">

                    <h4 class="form-section"><i class="ft-list"></i>
                        <ng-container *ngIf="!data.isIntervention">{{ 'labels.listArticle' | translate }}</ng-container>
                        <ng-container *ngIf="data.isIntervention">{{ 'labels.listPrestatins' | translate }}
                        </ng-container>
                    </h4>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-primary" type="button"><i class="ft-search" id="search-selectproduit-btn"></i></button>
                        </div>
                        <input type="text" #searchInput [(ngModel)]="search"  id="searchInput-selectproduit-btn" class="form-control"
                            placeholder="{{ 'labels.search' | translate }}">
                    </div>
                    <ul class="list-group list-group-flush" id="selectProduct">
                        <li class="list-group-item" *ngFor="let gamme of produits;let i = index">

                            <div class="form-inline">
                                <div class="form-group col-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" (change)="checkElement(i,1)" class="custom-control-input"
                                            id="{{i+2000*23}}">
                                        <label class="custom-control-label" for="{{i+2000*23}}">{{ gamme?.designation}}</label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <ng-container *ngIf="produits.length == 0">
                            <p class="msgEmtyListSelectedVide">{{'labels.msgEmptyTable' | translate}}</p>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-7" style="overflow: auto;height: 370px;">
            <h4 class="form-section"><i class="ft-list"></i>Éléments sélectionnés </h4>
            <ul class="list-group list-group-flush">
                <!-- Liste des lots sélectionnés -->
                <li class="list-group-item" *ngFor="let tmp of selected;let i = index">

                    <div class="form-inline">
                        <div class="form-group col-md-7">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" (change)="IncheckElement(i)" class="custom-control-input"
                                    id="{{i+1000*22}}" checked>
                                <label class="custom-control-label" for="{{i+1000*22}}">{{ tmp?.product?.designation }}</label>
                            </div>
                        </div>
                        <div class="btn-group col-md-4">
                            <button type="button" id="{{i+1000*21}}" class="btn btn-primary btn-md"
                                (click)="changeQuantite(i,-1,null)"><i class="ft-minus"></i></button>
                            <input type="number" id="{{i+1000*19}}" style="text-align: center" min="0"
                                value="{{ tmp?.quantity  }}" (input)="changeQuantite(i,null,$event.target.value)"
                                appInputRemoveDefaultZero />
                            <button type="button" id="{{i+1000*18}}" class="btn btn-primary btn-md" style="margin: 0"
                                (click)="changeQuantite(i,+1,null)"><i class="ft-plus"></i></button>
                        </div>
                    </div>
                </li>
            </ul>

        </div>


    </div>
</mat-dialog-content>

<div class="footer">
    <button mat-raised-button mat-dialog-close class="btn grey btn-light float-right" id="Annuler-selectproduit-btn">
        Annuler
    </button>
    <button type="button" class="btn btn-success float-right" [disabled]="selected.length==0" id="save-selectproduit-btn"
        (click)="save()">Enregistrer</button>
</div>