<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-2">
    <h3 class="content-header-title mb-0"></h3>
  </div>
  <div class="content-header-right col-md-6 col-12">
    <div class="btn-group float-md-right" role="group">
    </div>
  </div>
</div><br>

<form class="form form-horizontal">
  <div class="card collapse-icon accordion-icon-rotate">
    <div class="card-content">
      <div class="card-body">
        <div style="overflow-x:auto;">
          <table class="">
            <ng-container *ngFor="let object of listObjectCa;let indexObjectifs= index">

              <tr>
                <td scope="row" colspan="13"
                  style="text-align: center;font-weight: bold;background-color: #04B2D9;color: #FFF;">
                  <span> Chiffre d'affaires : </span>
                  <ng-container *ngIf="!openYears(indexObjectifs)">
                    <span class="iconEye"> <i class="ft-edit" placement="bottom"
                        (click)="editCAffaireyEARS(object,indexObjectifs)"></i>
                      {{object.goal | ShowCurrency }} </span>
                  </ng-container>

                  <ng-container *ngIf="openYears(indexObjectifs)">
                    <input type="number" style="padding-right: 4px;" [(ngModel)]="caYears"
                      [ngModelOptions]="{standalone: true}" class="currency-input">
                    <span class="iconEye"> <i class="ft-edit" placement="bottom"
                        (click)="updateCaYears(indexObjectifs)"></i></span>
                    <span class="iconEye"> <i class="fa fa-times" placement="bottom"
                        (click)="annulerModification()"></i></span>
                  </ng-container>
                  <span style="margin-left: 20px;">Année : {{object.id }}</span>

                  <ng-container *ngIf="AddObjectifsGlobal(indexObjectifs)">

                    <span style="margin-left: 20px; color: gold ">Ajouter un Objectif global<i class="fa fa-plus"
                        style="margin-left: 10px;  color: gold" placement="bottom"
                        (click)="addObjectGlobal()"></i></span>
                  </ng-container>

                  <ng-container *ngIf="ObjectifsGlobal(indexObjectifs)">

                    <span style="margin-left: 20px; color: gold">Objctifs Globale</span>
                    <input style="margin-left: 20px;padding-right: 4px;" type=" number" [(ngModel)]="objectifsGlobal"
                      [ngModelOptions]="{standalone: true}" class=" currency-input">
                    <span class="iconEye" style="margin-left: 20px;"> <i class=" ft-edit" placement="bottom"
                        (click)="updateObjectifs(indexObjectifs)"></i></span>
                    <span class="iconEye"> <i class="fa fa-times" placement="bottom"
                        (click)="annulerObjectifs()"></i></span>

                  </ng-container>

                </td>
              </tr>
              <tr style="text-align: center;background-color: #048ABF;color: #FFF;">
                <td style="text-align: left;">Mois
                </td>
                <td>
                  janvier
                </td>
                <td>
                  fevrier
                </td>
                <td>
                  mars
                </td>
                <td>
                  avril
                </td>
                <td>
                  mai
                </td>
                <td>
                  juin
                </td>
                <td>
                  juillet
                </td>
                <td>
                  août
                </td>
                <td>
                  septembre
                </td>
                <td>
                  octobre
                </td>
                <td>
                  novembre
                </td>
                <td>
                  decembre
                </td>

              </tr>
              <tr style="text-align: center;background-color: #DCEAF2;color: #0b1721;height: 30px;">
                <td scope="row" style="text-align: left;">Chiffre d'affaires</td>
                <ng-container *ngFor="let chiffre of object.monthlyGoals;let indexChiffre= index">
                  <td>
                    <span>
                      <div class="btn-group btn-actions-custom">
                        <ng-container *ngIf="!conditionOpen(indexChiffre,indexObjectifs)">
                          <span class="iconEye"> <i class="ft-edit" placement="bottom"
                              (click)="editChiifreAffaire(chiffre,indexChiffre,indexObjectifs)"></i></span>
                          <span>{{chiffre.goal | ShowCurrency}}</span></ng-container>
                        <ng-container *ngIf="conditionOpen(indexChiffre,indexObjectifs)">
                          <span class="iconEyeVa "> <i class="ft-edit" placement="bottom"
                              (click)="update(indexChiffre,indexObjectifs)"></i></span>
                          <input type="text" style="padding-right: 4px; width: 65%;" [(ngModel)]="caMonths"
                            (keyup.enter)="update(indexChiffre,indexObjectifs)" [ngModelOptions]="{standalone: true}"
                            class=" currency-input">
                          <span class="iconEyeCanc "> <i class="fa fa-times" placement="bottom"
                              (click)="annulerModification()"></i></span>
                        </ng-container>

                      </div>
                    </span>
                  </td>
                </ng-container>

              </tr>
            </ng-container>
          </table>
        </div>

      </div>
    </div>
  </div>
</form>