<div class="root">
  <div class="display-table">

    <!-- #region Display head -->
    <div class="display-table__head">
      <!-- Left controls-->
      <div class="left">
        <div class="cust-input cust-input--search">
          <label class="cust-input__wrapper">
            <div class="cust-input__icon">
              <img src="./assets/app/images/Icons/search.svg"
                alt="Search icon">
            </div>
            <input class="cust-input__input"
              type="text"
              [placeholder]="'dataTables.search' | translate"
              [(ngModel)]="serach"
              (keyup)="search()">
          </label>
        </div>

        <div class="cust-input cust-input--selectable cust-input--filter"
          #filtersTrigger="cdkOverlayOrigin"
          cdkOverlayOrigin
          (click)="onFiltersTriggered()">
          <label class="cust-input__wrapper">
            <div class="cust-input__icon">
              <img src="./assets/app/images/Icons/filter.svg"
                alt="Filter icon">
            </div>
            <span class="cust-input__input">Filtrer</span>
          </label>
        </div>
      </div>

      <!-- Right controls -->
      <div class="right">
        <div class="cust-button cust-button--success"
          data-toggle="modal"
          data-target="#Model"
          (click)="setformConfig(null, formType.add)">
          <span>Nouveau chantier</span>
        </div>
      </div>
    </div>
    <!-- #endregion -->

    <!-- #region Display body -->
    <div class="display-table__body">
      <table class="chantier-table">
        <thead>
          <tr>
            <th>
              <div class="th-wrapper">
                <span>{{ 'labels.chantier' | translate }}</span>
                <div class="sort">
                  <i class="fa fa-chevron-up"></i>
                  <i class="fa fa-chevron-down"></i>
                </div>
              </div>
            </th>
            <th>
              <div class="th-wrapper">
                <span>{{ 'labels.client' | translate }}</span>
                <div class="sort">
                  <i class="fa fa-chevron-up"></i>
                  <i class="fa fa-chevron-down"></i>
                </div>
              </div>
            </th>
            <th>
              <div class="th-wrapper">
                <span>{{ 'labels.statut' | translate }}</span>
                <div class="sort">
                  <i class="fa fa-chevron-up"></i>
                  <i class="fa fa-chevron-down"></i>
                </div>
              </div>
            </th>
            <th>
              <div class="th-wrapper">
                <span>{{ 'labels.dateCreation' | translate }}</span>
                <div class="sort">
                  <i class="fa fa-chevron-up"></i>
                  <i class="fa fa-chevron-down"></i>
                </div>
              </div>
            </th>
            <th>
              <div class="th-wrapper">
                <span>{{ 'labels.tauxAvancement' | translate }}</span>
                <div class="sort">
                  <i class="fa fa-chevron-up"></i>
                  <i class="fa fa-chevron-down"></i>
                </div>
              </div>
            </th>
            <th>
              <div class="th-wrapper">
                <span>{{ 'labels.chiffrea' | translate }}</span>
                <div class="sort">
                  <i class="fa fa-chevron-up"></i>
                  <i class="fa fa-chevron-down"></i>
                </div>
              </div>
            </th>

            <!-- This column is for row actions -->
            <th class="actions"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let chantier of chantiers?.value ;let i of chantiers?.value.length"
            id="chantier-dblclick-btn"
            (dblclick)="doubleClick(chantier)">

            <!-- Client -->
            <td class="bold">{{ chantier?.name }}</td>

            <!-- Client -->
            <td>{{ chantier?.client?.name }}</td>

            <!-- Status -->
            <td>
              <div class="status"
                [ngClass]="['status--' + chantier?.status]">
                <div class="dot"></div>
                <div [ngSwitch]="chantier?.status"
                  class="label">
                  <ng-container *ngSwitchCase="statutChantier.EnEtude">{{ 'labels.enEtude' | translate }}</ng-container>
                  <ng-container *ngSwitchCase="statutChantier.Accepte">{{ 'labels.accepte' | translate }}</ng-container>
                  <ng-container *ngSwitchCase="statutChantier.NonAcceptee">{{ 'labels.nonaccepte' | translate }}
                  </ng-container>
                  <ng-container *ngSwitchCase="statutChantier.Termine">{{ 'labels.termine' | translate }}</ng-container>
                </div>
              </div>
            </td>

            <!-- Date de creation -->
            <td>{{ chantier?.createdOn | date : 'dd/MM/yyyy' }}</td>

            <!-- Taux d'avancement -->
            <td>
              <div class="taux-progress">
                <div *ngIf="chantier?.progressRate != null"
                  class="label">
                  {{ chantier?.progressRate }} %
                </div>

                <div class="bar">
                  <div role="progressbar"
                    class="thumb"
                    [ngStyle]="{ 'width': chantier?.progressRate + '%' }"
                    [ngClass]="{
											'thumb--25': chantier?.progressRate < 25,
											'thumb--50': chantier?.progressRate < 50 && chantier?.progressRate >= 25,
											'thumb--75': chantier?.progressRate < 75 && chantier?.progressRate >= 50,
											'thumb--100': chantier?.progressRate >= 75
										}"></div>
                </div>
              </div>
            </td>

            <!-- Turnover -->
            <td>{{ chantier?.turnover | RoudingNumber | ShowCurrency }}</td>

            <!-- Actions trigger -->
            <td class="actions">
              <div class="actions-trigger"
                [matMenuTriggerFor]="matMenu"
                (onMenuOpen)="onMenuOpened(chantier)">
                <img src="./assets/app/images/Icons/more-vertical.svg"
                  alt="Actions icon">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- #endregion -->

    <!-- #region Display foot -->
    <div class="display-table__foot">
      <paination [painationInfo]="chantiers"
        (chagePageNamber)="chagePageNumber($event)"
        (changePageSize)="changePageSize($event)"
        [pageSizes]="pageSizes"></paination>
    </div>
    <!-- #endregion -->
  </div>
</div>

<!-- <chantier-from [type]="formConfig.type"
	[defaultData]="formConfig.defaultData"
	(OnSave)="OnSave($event)">
</chantier-from> -->

<custom-loader [displayLoader]="processing"></custom-loader>

<!-- #region Filter overlay -->
<ng-template cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="filtersTrigger"
  [cdkConnectedOverlayOpen]="filtersOpened"
  [cdkConnectedOverlayHasBackdrop]="true"
  (backdropClick)="onBackdropClicked()">
  <div class="filter-overlay">
    <div class="filter-overlay__controls">
      <div class="filter-overlay__btn">
        <span>Reinitialiser</span>
        <i class="fa fa-repeat"></i>
      </div>
      <div class="filter-overlay__btn"
        (click)="filtersOpened = false">
        <i class="fa fa-times"></i>
      </div>
    </div>
    <div class="filter-overlay__filters">
      <div class="top">

        <!-- Client -->
        <div class="cust-input cust-input--select">
          <label class="cust-input__wrapper">
            <mat-select class="cust-input__input"
              [placeholder]="'Client'"
              [(ngModel)]="client"
              (valueChange)="search()">
              <mat-option *ngFor="let item of listClients; let i = index"
                [value]="item.id">{{ item.name }}</mat-option>
            </mat-select>
          </label>
        </div>

        <!-- Date -->
        <div class="cust-input cust-input--date">
          <label class="cust-input__wrapper">
            <input class="cust-input__input"
              matInput
              [placeholder]="'Date'"
              [matDatepicker]="datePicker">
            <mat-datepicker-toggle matSuffix
              [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
          </label>
        </div>
      </div>

      <div class="bottom">
        <div class="filter-overlay__status-list">
          <mat-checkbox *ngFor="let item of statuts;let i = index"
            class="cust-checkbox filter-overlay__status"
            [value]="item?.value"
            [ngClass]="['filter-overlay__status--' + item?.value]">{{ item?.name }}</mat-checkbox>
        </div>
        <!-- (clear)="clearStatutFilter()"
				[(ngModel)]="statut"
				(change)="search()" -->
      </div>
    </div>
  </div>
</ng-template>
<!-- #endregion -->

<!-- #region Actions overlay -->
<mat-menu #matMenu="matMenu"
  class="cust-menu cust-menu--horizontal cust-menu--actions"
  overlapTrigger
  xPosition="before">

  <span mat-menu-item
    class="menu-item"
    [matTooltip]="'labels.voirDetails' | translate"
    [routerLink]="['/chantiers/detail', selectedChantier?.id]">
    <div class="icon">
      <img src="./assets/app/images/Icons/eye.svg"
        alt="Eye icon">
    </div>
  </span>

  <span mat-menu-item
    class="menu-item"
    [matTooltip]="'labels.modifier' | translate"
    (click)="OnEdit(selectedChantier)">
    <div class="icon icon--small">
      <img src="./assets/app/images/Icons/edit.svg"
        alt="Edit icon">
    </div>
  </span>

  <span mat-menu-item
    class="menu-item"
    [matTooltip]="'labels.supprimer' | translate"
    (click)="OnDelete(selectedChantier?.id)">
    <div class="icon icon--opaque">
      <img src="./assets/app/images/Icons/trash-2.svg"
        alt="Delete icon">
    </div>
  </span>
</mat-menu>
<!-- #endregion -->
