<div class="row">
  <div class="col col-md-9">

    <div class="content-header row">

      <div class="content-header-left col-md-6 col-12 mb-1">
        <h3 class="content-header-title"></h3>
      </div>

      <div class="content-header-right col-md-6 col-12">
        <div class="float-md-right " role="group">

          <div class="cust-button cust-button--success" (click)="uploadNewModelAction()" id="export">
            <span> {{'publishingContract.button.upladNewModel' | translate}} </span>
        </div>
        
        </div>
      </div>

    </div>

    <section class="multi-columns pt-2 pl-2">

      <div class="row">

        <div class="list-group col-md-12">

          <a href="JavaScript:void(0);" class="list-group-item list-group-item-action flex-column align-items-start"
            *ngFor="let contract of contracts;let i=index">

            <span class="font-medium-2">{{ contract?.title }} </span>

            <small>{{ contract?.createdOn | date:'short' }}</small>

            <div class="float-right">


              <button type="button" class="btn btn-transparent btn-md btn-actions" placement="bottom"
                [container]="'body'" (click)="displayAction(contract?.id)" ngbTooltip="Visualiser">
                <i class="fa fa-download icon-warning"></i>
              </button>


              <ng-container>


                <button type="button" class="btn btn-transparent btn-md btn-actions" placement="bottom"
                  [container]="'body'" (click)="fillTagsAction(i)" ngbTooltip="Remplir les balises">
                  <i class="ft-file-text icon-primary"></i>
                </button>



                <button type="button" class="btn btn-transparent btn-md btn-actions" placement="bottom"
                  [container]="'body'" (click)="changeModelAction(i)" ngbTooltip="Changer modèle">
                  <i class="ft-repeat icon-success"></i>
                </button>



                <button type="button" class="btn btn-transparent btn-md btn-actions" placement="bottom"
                  [container]="'body'" (click)="changeNameAction(i)" ngbTooltip="Changer nom">
                  <i class="ft-refresh-ccw icon-success"></i>
                </button>


              </ng-container>


              <button type="button" class="btn btn-transparent btn-md btn-actions" placement="bottom"
                [container]="'body'" (click)="deleteAction(contract?.id)" ngbTooltip="Supprimer">
                <i class="ft-trash-2 icon-danger"></i>
              </button>


            </div>

          </a>

        </div>

      </div>


    </section>
  </div>

  <div class="col col-md-3">
    <app-actions [actions]="items" [title]="'Balises par défaul'" [toggle]=false></app-actions>
  </div>

</div>