<div class="axiobat-modal">
  <div class="root">
    <div class="head">

      <div class="left">
        <div class="title">
          {{ 'labels.sendByMail' | translate }}
        </div>
      </div>


      <div class="close" (click)="close()">
        <img src="./assets/app/images/Icons/x.svg" alt="Close button">
      </div>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <form [formGroup]="formSendEmail">
          <div class="row">
            <div class="col col-md-12">
              <div class="cust-input-group">
                <div class="cust-label">{{ 'labels.to' | translate }}</div>
                <div class="cust-input">
                  <label class="cust-input__wrapper">
                    <input class="cust-input__input" type="text" formControlName="emailTo">
                  </label>
                </div>
                <small class="text-danger"
                  *ngIf="formSendEmail?.touched && formSendEmail?.controls?.emailTo?.errors?.required">{{'labels.contentsRequired' | translate }}</small>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col col-md-12">
              <div class="cust-input-group">
                <div class="cust-label">{{ 'labels.objet' | translate }}</div>
                <div class="cust-input">
                  <label class="cust-input__wrapper">
                    <input class="cust-input__input" type="text" formControlName="object">
                  </label>
                </div>
                <small class="text-danger"
                  *ngIf="formSendEmail?.touched && formSendEmail?.controls?.object?.errors?.required">{{'labels.objectRequired' | translate }}</small>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col col-md-12">
              <div class="cust-input-group">
                <div class="cust-label">{{ 'labels.contents' | translate }}</div>
                <div class="cust-input">
                  <label class="cust-input__wrapper">
                    <textarea matInput class="cust-input__input" id="add-commentaire-chantier-form-btn" rows="8"
                      formControlName="contents" [placeholder]=""></textarea>
                  </label>
                </div>
                <small class="text-danger"
                  *ngIf="formSendEmail?.touched && formSendEmail?.controls?.contents?.errors?.required">{{'labels.contentsRequired' | translate }}</small>
              </div>
            </div>
          </div>
          <br>
          <br>

        </form>
      </div>
    </div>
    <div class="modal-footer">

      <div id="annuler" class="cust-button cust-button--secondary" (click)="close()">
        <span>{{ 'labels.btnCancel' | translate }}</span>
      </div>

      <div id="valider" class="cust-button cust-button--success" (click)="envoyer()">
        <span>{{ 'labels.send' | translate }}</span>
      </div>

    </div>
  </div>
</div>