<div class="row">
  <div class="col main-col">
    <div class="row">
      <div class="root col">
        <div class="details">
          <div class="cust-card cust-card--padding">
            <div class="cust-card__head">
              <div class="left">
                <div class="title">
                  {{ 'labels.confAgenda' | translate }}
                </div>
              </div>
              <div>

              </div>

              <!-- Right controls -->
              <div class="right flexcontrols menu-points-beta">
                <div id="modifier" class="cust-button cust-button--success" (click)="update()" placement="bottom"
                  ngbTooltip="{{ 'labels.save' | translate }}">
                  <span>{{ 'labels.save' | translate }}</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<form class="form form-horizontal" [formGroup]="form">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true" class="disabled-pointer">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'labels.confAgenda' | translate }} </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="cust-card cust-card--padding">

        <div class="cust-card__body">
          <div class="body">
            <ol>
              <li>{{ 'google-calendar-settings.step-1' | translate:{email : emailToShareWith} }}</li>
              <li>{{ 'google-calendar-settings.step-2' | translate }}</li>
            </ol>
            <div class="row">

              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'labels.calendarId' | translate }} :</div>
                  <div class="cust-input">
                    <label class="cust-input__wrapper">
                      <input class="cust-input__input currency-input" id="add-calendarId-form-btn" type="text"
                        formControlName="calendarId" placeholder="{{ 'labels.calendarId' | translate }}">
                    </label>
                  </div>
                </div>

              </div>
              <div class="col">
              </div>
              <div class="col">
              </div>
            </div>
          </div>
        </div>
      </div>

    </mat-expansion-panel>

  </mat-accordion>
  <br>
</form>